
  <app></app>
  <div class="Main">
    <div class="card" >
      <div class="card-header pb-2" style="border: none;">
        <h3 class="card-title">
          Hello! <label class="text-primary-green"><strong>Admin</strong></label>
          <span class="d-block text-small">Choose actions below to proceed.</span>
        </h3>
      </div>
      <div class="card-body pt-2">
        <!--<div class="Book-Update" *ngIf="!updateDoc">-->
        <div class="Book-Update">
          <!-- <button (click) ="Book Appointment()">Book Appointment</button><br>
    <button (click) ="History()">History</button><br> -->
          <ul class="doc-actions p-0">
            <!--<li class="d-inline mr-2"><button [routerLink]="['/register']" class="btn"><i class="fa fa-users"></i>Register Doctor</button></li>
            <li class="d-inline mr-2"><button (click)="RegPatient()" class="btn"><i class="fa fa-users"></i>Register Patient</button></li>-->
            <li class="d-inline mr-2"><button [routerLink]="['/doclist']" class="btn"><i class="fa fa-users"></i>Doctor</button></li>
            <li class="d-inline mr-2"><button [routerLink]="['/adminpatlist']" class="btn"><i class="fa fa-users"></i>Patient</button></li>
            <li class="d-inline mr-2"><button [routerLink]="['/scheduling']" class="btn"><i class="fa fa-id-card"></i>Doctor Scheduling</button></li>
            <li class="d-inline mr-2"><button [routerLink]="['/Setup']" class="btn"><i class="fa fa-cogs"></i>Set Up</button></li>
              <li class="d-inline mr-2"><button [routerLink]="['/PatientAppointmentList']" class="btn"><i class="fa fa-list"></i>Appointment List</button></li>
            <li class="d-inline mr-2" style="margin-right: 0px; float: right">
              <a href="https://learning.covid19.gov.np/" target="_blank" class="btn btn-primary btn-learn">
                learn yourself During free time
              </a>
            </li>
          </ul>
        </div>
        <!--<div class="Book-Update">
          <ul class="doc-actions p-0">
            <li class="d-inline mr-2"><button [routerLink]="['/doclist']" class="btn"><i class="fa fa-users"></i>Doctor List</button></li>
          </ul>
        </div>-->
        </div>
        <!--Slider-->
        <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%" />
          </div>
        </ngx-slick-carousel> -->
        <!--slide end-->

      </div>
  </div>
