<app></app>
<button [routerLink]="['/DocDashboard']" class="back-btn-doc-room">Back <span>To DashBoard</span> </button>

<div *ngIf="dailyvisit" class="grid-section">
  <h4 class="title">
    <i class="fa fa-list"></i>Daily Visit List
  </h4>
  <div class="col-md-12 alert alert-default">
    <div class="row d-flex align-items-center">
    <!--<form [formGroup]="visitObj.PatientValidator">-->
    <label class="control-label col-md-2">Filter By Date:</label>
    <div class="col-md-4">
    <input  (change)="ChangeDate()" type="date" name="date" [(ngModel)]="filterdate"  required class="m-0"/>
    </div>
    <!--<span *ngIf="!visitObj.IsDirty('VisitDate')" [hidden]="visitObj.IsValidCheck('VisitDate','required')"> Appointment Date is required</span>-->
    <!--</form>-->
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">SN</th>
        <th scope="col">Visit Date</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Contact</th>
        <th scope="col">Treatment Advice</th>
        <th scope="col">Medication</th>
        <th scope="col">FollowUp(Days)</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filteredDailyVisitList |paginate: { itemsPerPage: 3, currentPage: p  } ; let i=index;">
        <td>{{i+1}}</td>
        <td>{{data.VisitDate}}</td>
        <td>{{data.PatientName }}</td>
        <td>{{data.Gender }}</td>
        <td>{{data.ContactNumber }}</td>
        <td>{{data.TreatmentAdvice}}</td>
        <td>{{data.Medication }}</td>
        <td>{{data.FollowUp}}</td>
        <td>
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files);function(data.VisitId,data.PatientId)" name="fileName"
            [(ngModel)]="prescriptionFile.FilePath" [ngModelOptions]="{standalone: true}" style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
            style="font-size: 14px;"><i class="fa fa-upload"></i>Upload Prescription</button>
          <div class="col-md-10 d-inline" *ngIf=" this.prescriptionFile.VisitId == data.VisitId">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination-controls style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
</div>

<footer></footer>
