<!-- <nav
  class="navbar navbar-light bg-telehealth"
  *ngIf="
    token.UserType == 'Patient' ||
    token.UserType == 'Doctor' ||
    token.UserType == 'Admin'
  "
>
  <div class="col-sm-12 pull-right">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a class="nav-link" (click)="logout()"
          ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout
        </a>
      </li>
    </ul>
  </div>
</nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-white navbar telehealth-nav fixed-top"
       *ngIf="
    token.UserType == 'Patient' ||
    token.UserType == 'Doctor' ||
    token.UserType == 'Admin'
  ">
    <!--<a class="navbar-brand ml-0" href="#">
      <img src="~/../assets/img/logo-cap.png" class="f-img" />
    </a>-->
    <a class="navbar-brand ml-0" href="http://danphecare.com/telemedicine" target="_blank">
      <img src="~/../assets/img/logo-cap.png" class="f-img" />
    </a>

    <h4 *ngIf="token.UserType == 'Admin'" class="text-center welcome-top">
      Welcome Admin !!
    </h4>
    <h4 *ngIf="token.UserType == 'Patient'" class="text-center welcome-top">
      Welcome  {{patInfo.FirstName +' '+ patInfo.LastName }} !!
    </h4>
    <h4 *ngIf="token.UserType == 'Doctor'" class="text-center welcome-top">
      Welcome  Dr. {{docInfo.FirstName +' '+ docInfo.LastName }} !!
    </h4>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-0">
        <li class="nav-item">
          <div class="nav-link logged-info">
            <i class="fa fa-user"></i>Welcome
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
