<app></app>
<div class="back-bg">
<button [routerLink]="['/admin']" class="back-btn-doc-room">Back <span>To Admin</span> </button>
<mat-chip-list aria-label="doctor selection">
  <mat-chip color="primary" (click)="RegPatient()" selected>+ Register Patient</mat-chip>
</mat-chip-list>
</div>
<div class="grid-section">
  <h4 class="title">
    <i class="fa fa-list"></i>Patient List
  </h4>

  <div class="row searchbar-card text-center" style="margin-top: 0">
    <div class="col-md-6 col-sm-8 m-auto d-flex">
      <div class="searchbar">
        <input class="search_input" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
               placeholder="Search Patient..">
        <a class="search_icon text-white"><i class="fa fa-search"></i>Search</a>
      </div>
    </div>
  </div>
  <!-- for-mobile -->
  <!-- class="d-sm-none d-md-block" -->
  <table class="table table-striped table-hover ">
    <thead>
      <tr class="table-tr-style">
        <th scope="col">SN</th>
        <th scope="col">Full Name</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of patientList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  } ;let i = index  ">
        <td>{{i+1}}</td>
        <td>{{data.FirstName }}&nbsp;{{data.MiddleName}}&nbsp;{{data.LastName}} {{data.PatientName}}</td>
        <td>{{data.ContactNumber }}</td>
        <td>
          <a (click)="UpdateProfile(data)" class="btn btn-success btn-sm text-white"><i class="fa fa-pencil"></i>Update Profile </a>
          <a (click)="BookAppointment(data)" class="btn btn-success btn-sm text-white"><i class="fa fa-pencil"></i>Book Appointment </a>
          <a (click)="ResetPassword(data)" data-toggle="modal" data-target="#passwordModal" class="btn btn-success btn-sm text-white"><i class="fa fa-paperclip"></i>Reset Password </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
  <pagination-controls style="font-size:20px" (pageChange)="p = $event"></pagination-controls>



</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" [style.display]="editModal ? 'block' : 'none'"
     aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: transparent; border: none;">

      <!-- Modal body -->
      <patient-update-profile #patientEditor ></patient-update-profile>

    </div>
  </div>
</div>
<div class="modal " id="myModal" tabindex="-1" role="dialog" [style.display]="pwdModal ? 'block' : 'none'"
     aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: transparent; border: none;">
      <div class="modal-body">
        <!-- Modal body -->
        <password-update #pwdEditor></password-update>
      </div>


    </div>
  
    </div>
  </div>


  <footer></footer>
