
<div class="card">
  <div class="patient-login" style="padding: 20px;">
    <h5 class="text-center">{{patName}}</h5>
    <!--<form #patientPwdForm="ngForm" (ngSubmit)="UpdatePassword()">-->
      <div class="row d-flex">

        <div class="col-md-4">
          <label for="password">Password</label>
          <!--<div class="col-md-12">-->
          <div *ngIf="!isDoctor">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="patInfo.Password" class="form-control" placeholder="Password" validateEqual="confirmpassword"
                   autocomplete="new-password" />
            <input type="checkbox" class="showPassword" (click)="showPass()" name="Password" id="Password" />
            <label for="Password">Show Password</label>
          </div>
          <div *ngIf="isDoctor">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="docInfo.Password" class="form-control" placeholder="Password" validateEqual="confirmpassword"
                   autocomplete="new-password" />
            <input type="checkbox" class="showPassword" (click)="showPass()" name="Password" id="Password" />
            <label for="Password">Show Password</label>
          </div>

        </div>
        
      </div>

      <!-- </form> -->
      <!--<button class="btn btn-primary mt-5" value="Submit">Update</button>-->
      <div class="col-md-12">
        <button class="btn btn-success" (click)="cancel()">Cancel</button> &nbsp;&nbsp;
        <button *ngIf="!isDoctor" class="btn btn-success" (click)="UpdatePassword(patInfo)">Update</button>
        <button *ngIf="isDoctor" class="btn btn-success" (click)="UpdatePasswordDoctor(docInfo)">Update</button>
      </div>
    <!--</form>-->
  </div>
</div>
<!--<footer *ngIf="isPatEditor == false"></footer>-->
