html,
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

input[type="submit"] {
  text-transform: uppercase;
  font-weight: 600;
}
.full-body {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: auto;
  min-width: 400px;
  margin: 2% auto;
}

.card-header h3 {
  color: #333;
  text-align: center;
  font-weight: 600;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #fff;
  border: 1px solid #ccc !important;
  text-align: center;
  font-size: 20px;
  color: #009688;
  padding: 0px 20px;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #21ba97;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #fff;
  background-color: #21ba97;
  width: 100px;
  font-weight: 600;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: #333;
}

.links a {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .full-body {
    -webkit-box-flex: 0;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 767px) {
  .card {
    height: auto;
    min-width: 100%;
    margin: auto;
    box-shadow: none;
  }

  .info h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .login-container .info h2 p {
    font-size: 12px;
    font-weight: 400;
  }

  .login-container .form-check .form-check-label {
    font-size: 12px;
  }

  .login-container .card .card-header,
  .login-container .card .card-body {
    padding: 1rem;
  }
}
