<style>
  @media Print {
    #Report,  #Report h5,  #Report h6,  #Report p,  #Report td,  #Report legend,  #Report fieldset{
      font-family: 'Verdana' !important;
    }
  }
  Important part */ .modal-dialog {
    overflow-y: initial !important
  }

  .modal-body {
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
  }

  */
</style>

<app></app>
<div class="bg-back">
<button (click)="BackDashBoard()" class="back-btn-doc-room">Back To DashBoard </button>
<button (click)="AppointmentHistory()" class="mat-chip mat-primary mat-standard-chip mat-chip-selected"><i class="fa fa-clock-o"></i>Appointment
  History</button>
</div>
<div class="card">
  <div class="card-body">

    <div class="Book-Update">
     
    </div>

    <div>
      <!-- <h4>
        Basic Pagination
      </h4> -->
      <h4 class="title mt-3"><i class="fa fa-clock-o"></i>My Appointment History</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">VisitDate</th>
            <th scope="col">DoctorName</th>
            <th scope="col">Hospital</th>
            <th scope="col">Action</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection.data |paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{item.id}}</td>
            <td>{{item.VisitDate | date:'fullDate'}}</td>
            <td>{{item.DoctorName}}</td>
            <td>{{item.HospitalName }}</td>
            <td *ngIf="item.Status =='completed'"> <button (click)="ViewNotes(item.VisitId)" class="btn btn-primary btn-sm">View Notes</button></td>
            <!-- <td *ngIf="item.Status !='completed'"> <button mat-raised-button color="warn" class="btn btn-danger btn-sm" > Notes Unavailable</button></td> -->
            <td *ngIf="item.Status !='completed'"> <button class="btn btn-danger btn-sm"> Notes
                Unavailable</button></td>
          
            <td ><button type="button" data-toggle="modal" data-target="#target"
                (click)="ViewPrescription(item.VisitId)" class="btn btn-sm btn-primary">
                View Prescription
              </button></td>
          </tr>
        </tbody>
      </table>

      <pagination-controls style="font-size:20px" (pageChange)="p = $event"></pagination-controls>

    </div>

  </div>
</div>

<div class="modal" id="myModal" [style.display]="showViewNotes ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <!-- <h4 class="modal-title w-100 font-weight-bold">Doctor Advice</h4> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="row modal-header text-center" *ngFor="let data of viewList" style="border: none; margin-bottom: 35px">
          <table align="center">
            <tr><h5 style="font-weight: 600; margin-bottom: 5px">Doctor Name : {{data.DoctorName}}</h5></tr>
            <tr><h6 style="font-weight: 600; margin-bottom:5px">Hospital Name : {{data.HospitalName }}</h6></tr>
            <tr><p style="font-weight: 600; margin-bottom: 5px;">Visit Date: {{data.VisitEndTime | date:'medium'}}</p></tr>
            <tr><p style="font-weight: 600;">NMC Number: {{data.NMC }}</p></tr>

          </table>
        </div> -->

        <div *ngFor="let row of viewList" class="wait-section" style="height: auto; flex-direction: column;">
          <div class="w-100" id="Report">
            <div class="img-d" style="margin: auto; text-align:center; margin-bottom: 15px;">
            <img src="assets/img/hospital.png" height="50">
            </div>
           
            <div class="row modal-header text-center" *ngFor="let data of viewList" style="border: none; margin-bottom: 20px">
              <table align="center" style="width: 100%;">
                <tr>
                  <td align="center" style="font-size: 20px; padding: 0; font-weight: 600;">Doctor Name : {{data.DoctorName}}</td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 20px;  padding: 0;font-weight: 600;">Patient Name : {{data.PatientName}}</td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 20px; padding: 0;font-weight: 600;">Hospital Name : {{data.HospitalName}}</td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 15px; padding: 0;font-weight: 600;">Visit Date: {{data.VisitEndTime | date:'medium'}}</td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 15px; padding: 0;font-weight: 600;">NMC Number: {{data.NMC }}</td>
                </tr>
                
              </table>
            </div>
            <h4 class="modal-title w-100 font-weight-bold" style="text-align: center; margin-bottom: 20px; font-size: 17px;">Doctor Advice</h4>
            <!--<div class="card report-card">
              <div class="card-title">
                <span class="">Medical Status</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Fever :
                    {{row.Fever| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Cough :
                    {{row.Cough| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>BreathingDifficulty :
                    {{row.BreathingDifficulty| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Tiredness :
                    {{row.Tiredness| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Sore Throat :
                    {{row.SoreThroat| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Bodyache :
                    {{row.Bodyache| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>ChestPain :
                    {{row.ChestPain| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Diarrhea :
                    {{row.Diarrhea| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Any Other Symptoms :
                    {{row.AnyOtherSymptoms}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Heart Disease :
                    {{row.HeartDisease| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>High Blood Pressure :
                    {{row.HighBloodPressure| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Diabetes :
                    {{row.Diabetes| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Copd/Asthma :
                    {{row.Copd| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Transplant :
                    {{row.Transplant| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Recent Travel :
                    {{row.RecentTravel| yesNoPipe}}
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Cancer :
                    {{row.Cancer| yesNoPipe}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                    <i class="fa fa-info-circle"></i>Exposure to Covid
                    patients : {{row.Exposure| yesNoPipe}}
                  </div>
                </div>
              </div>
            </div>-->
            <div class="notes-prescription">
              <fieldset style="margin-bottom: 25px;">
                <legend style="font-weight: 600;">Other Pertinent Information:</legend>
                <p>{{row.OtherPertientInformation}}</p>
               </fieldset>
              <fieldset style="margin-bottom: 25px;">
                <legend style="font-weight: 600;">Treatment Advice:</legend>
                <p>{{row.TreatmentAdvice}}</p>
               </fieldset>
              <fieldset style="margin-bottom: 25px;">
                <legend style="font-weight: 600;">Medication given by doctor:</legend>
                <p>{{row.Medication}}</p>
               </fieldset>
              <fieldset style="margin-bottom: 25px;">
                <legend style="font-weight: 600;">Follow up:</legend>
                <p>{{row.FollowUp}}</p>
               </fieldset>
            </div>
            <!-- <div class="card report-card">
              <div class="card-title">
                <span class="">Other Pertinent Information</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">{{row.OtherPertientInformation}}</div>

                </div>
              </div>
            </div> -->
            <!-- <div class="card report-card">
              <div class="card-title">
                <span class="">Treatment Advice</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">{{row.TreatmentAdvice}}</div>

                </div>
              </div>
            </div>
            <div class="card report-card">
              <div class="card-title">
                <span class="">Medication given by doctor</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">{{row.Medication}}</div>

                </div>
              </div>
            </div>
            <div class="card report-card">
              <div class="card-title">
                <span class="">Follow up</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">{{row.FollowUp}}</div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="print-action">
            <input type="button" value="Print Report" (click)="Print()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showPrescription" class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Prescription file from Doctor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color:floralwhite;">
        <div class="info-heading">
          <img *ngIf="Filetype == 'image'" src="{{path}}"
            style=" width: 331px; height: 339px; align-content: center; margin: 56px 638px 91px 649px;">
          <pdf-viewer *ngIf="Filetype == 'pdf'" src="{{path}}" [render-text]="true" [show-all]="true"
            [stick-to-page]="false" [original-size]="true" style="display: block;"></pdf-viewer>
          <div *ngIf="Filetype == 'docfile'">
            <a href="{{path}}" class="btn btn-primary btn-lg active" role="button">Click to Open Doc File</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<footer></footer>
