.login-container.reg input[type="text"], .login-container.reg input[type="password"], .login-container.reg input[type="email"]{
border-left: 1px solid #59d1c6 !important;
}

.errorMessage {
  padding: 5px 10px;
  color: #a94442;
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
