<!--<button (click)="BackDashBoard()" class="back-btn-doc-room">Back To DashBoard </button>-->
<!--<button *ngIf="this.typeregister == 'patientregister'" class="back-btn-doc-room" style="background-color: dodgerblue;"
  (click)="BackLogin()">Back To LoginPage </button>-->
<!--<button *ngIf="this.typeregister == 'patientregister'" class="back-btn-doc-room" style="background-color: dodgerblue;"
  (click)="BackLogin()">Back To LoginPage </button>
  <button *ngIf="this.typeregister == null" class="back-btn-doc-room" style="background-color: dodgerblue;"
  (click)="BackAdmin()">Back To Admin </button>-->
<button *ngIf="typeregister == 'patientregister' && loginpatient != 'patient'" class="back-btn-doc-room" style="background-color: dodgerblue;"
        (click)="BackToPatient()">
  Back To Patient List

</button>
<button *ngIf="typeregister == 'docregister'" class="back-btn-doc-room" style="background-color: dodgerblue;"
        (click)="BackToDoctor()">
  Back To Doctor List
</button>
<div class="login-container reg">
  <div class="row d-flex justify-content-center h-100">

    <div class="col-10 col-sm-12 col-md-10">
      <div class="row justify-content-center h-100 login-flex">

        <div class="col-md-8 text-center">
          <a href="" style="margin-bottom: 25px;"><img src="../assets/img/logo-cap.png" alt="" height="50"></a>
          <div class="card text-left">
            <div class="card-header">

              <div class="info">

                <h2>
                  Register to get started<br />
                  <p>Connect with your <strong>Doctor/Patient</strong> from your home</p>
                </h2>
              </div>
              <!--<div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div>-->
            </div>
            <div class="card-body">
              <!--<div class="row" style="margin-bottom: 10px;">

                <div class="col-md-6 text-right">
                  <input id="registerpatient" type="radio" class="" [value]="true" [(ngModel)]="isPatientRegister" name="registerpatient" >
                  <label class="" for="registerpatient">I'm a Patient</label>
                </div>

                <div class="col-md-6 text-left">
                  <input id="registerdoctor" type="radio" class="" [value]="false" [(ngModel)]="isPatientRegister"  name="registerpatient">
                  <label class="" for="registerdoctor">I'm a Doctor</label>
                </div>
              </div>-->
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                <div class="form-group">
                  <label for="phonenumber">Phone Number<span class="required-sign">*</span></label>
                  <input type="text" formControlName="phonenumber" id="phonenumber" placeholder="Phone Number"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"
                         autocomplete="new-phonenumber" />
                  <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phonenumber.errors.required">Phone Number is required</div>

                    <div *ngIf="f.phonenumber.errors.pattern">Phone number should be 10 digits</div>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                  <label for="firstname">First Name<span class="required-sign">*</span></label>
                  <input type="text" formControlName="firstname" id="firstname" placeholder=" First Name"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
                         autocomplete="new-firstname" />
                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    <!--
                    <div *ngIf="f.firstname.errors.pattern">Phone number should be 10 digits</div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="firstname">Middle Name</label>
                  <input type="text" id="middlename" formControlName="middlename" placeholder=" Middle Name"
                         class="form-control" autocomplete="new-middlename" />
                </div>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                  <label for="lastname">Last Name<span class="required-sign">*</span></label>
                  <input type="text" formControlName=lastname id="lastname" placeholder=" Last Name"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
                         autocomplete="new-lastname" />
                  <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                    <!--
                    <div *ngIf="f.firstname.errors.pattern">Phone number should be 10 digits</div> -->
                  </div>
                </div>
                </div>
                <div class="col-md-12">
                <div class="form-group">
                  <label for="dateofbirth">Date of Birth</label>
                  <div class="input-group">
                    <input type="text" id="dateofbirth" formControlName="dateofbirth" placeholder=" Date of Birth "
                           class="form-control" [maxDate]="today" bsDatepicker #d="bsDatepicker" autocomplete="new-dateofbirth" />
                    <div class="input-group-append">
                      <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password<span class="required-sign">*</span></label>
                  <!--<div class="col-md-12">-->
                  <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Password"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" validateEqual="confirmpassword"
                         autocomplete="new-password" />
                  <input type="checkbox" class="showPassword" (click)="showPass()" name="Password" id="Password" />
                  <label for="Password">Show Password</label>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="f.password.errors.pattern">
                      Password should contains atleast one special charater,one
                      upper case, one lower case and one number
                    </div>
                  </div>
                </div>
                </div>
                <!--</div>-->
                <div class="col-md-6">
                <div class="form-group">
                  <label for="confirmpassword">Confirm Password<span class="required-sign">*</span></label>
                  <input type="password" formControlName="confirmpassword" class="form-control"
                         placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                         validateEqual="password" autocomplete="new-confirmpassword" />
                  <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
                    <div *ngIf="f.confirmpassword.errors.minlength">
                      The password and confirmation password do not match.
                    </div>

                    <div *ngIf="f.confirmpassword.errors.pattern">
                      Password should contains atleast one special
                      charater,one upper case, one lower case and one number
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-12">
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                  </button>
                  <label class="pull-right" style="font-size: 0.75rem; margin-top: 15px;">
                    Already have an Account
                    ?&nbsp;&nbsp;<a routerLink="/login" class="text-primary"><strong>Login</strong></a>
                  </label>
                </div>
              </div>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="powered-section">
    <span>Powered By</span>
    <div class="login-brand">
      <img src="../assets/img/imark-powered.png">
    </div>
  </div>
</div>


<h2>Register</h2>
