<app *ngIf="isPatEditor == false" ></app>
<button *ngIf="isPatEditor == false"  (click)="BackDashBoard()" class="back-btn-doc-room">Back To DashBoard </button>
      <div class="card">
        <div class="patient-login" style="padding: 20px;">
          <h5 *ngIf="isPatEditor == false" class="Doc-form profile-title"><i class="fa fa-user-md"></i>Patient&nbsp;&nbsp;|&nbsp;&nbsp;<span>Update Your Profile.</span></h5>
          <h5 *ngIf="isPatEditor == true" class="Doc-form profile-title"><i class="fa fa-user-md"></i>Patient&nbsp;&nbsp;|&nbsp;&nbsp;<span>Update {{patName}} Profile.</span></h5>
          <div class="alert alert-default d-flex"><i class="fa fa-info-circle"></i><p>Fields with * are required.</p></div>
          <form *ngIf="isPatEditor == false" #patientForm="ngForm" (ngSubmit)="UpdatePatProfile(patientForm)">
            <div class="row d-flex">
              <div class="col-md-4">
                <label>First Name <span *ngIf="FirstName.invalid" class="required-sign">*</span></label>
                <input type="text" name="FirstName" value=""
                       [(ngModel)]="patInfo.FirstName" size="25" required #FirstName="ngModel" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->

              </div>
              <div class="col-md-4">
                <label>Middle Name </label>
                <input type="text" name="MiddleName" value=""
                       size="25" [(ngModel)]="patInfo.MiddleName" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->
              </div>
              <div class="col-md-4">
                <label>Last Name<span *ngIf="LastName.invalid" class="required-sign">*</span> </label>
                <input type="text" name="LastName" value=""
                       size="25" [(ngModel)]="patInfo.LastName" required #LastName="ngModel" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->

              </div>
              <div class="col-md-4">
                <label for="Gender">Gender<span *ngIf="Gender.invalid" class="required-sign">*</span></label><br />
                <input type="radio" value="Male" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> M<span class="hide-sm">ale &nbsp;&nbsp;</span>
                <input type="radio" value="Female" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> F<span class="hide-sm">emale&nbsp;&nbsp;</span>
                <input type="radio" value="Other" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> O<span class="hide-sm">ther&nbsp;&nbsp;</span>

              </div>
              <div class="col-md-4">
                <label for="">Date of Birth<span class="required-sign">*</span></label>
                <div class="input-group">
                  <input class="form-control" [maxDate]="today" placeholder="Datepicker"
                         name="DOB" [(ngModel)]="patInfo.DateOfBirth"
                         bsDatepicker #d="bsDatepicker">
                  <div class="input-group-append">
                    <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
                <!-- <input type="date" name="DOB" value="" [(ngModel)]="patInfo.DateOfBirth " #DateOfBirth="ngModel" /> -->

              </div>
              <div class="col-md-4">
                <label for="">Email</label>
                <input type="email" name="Email" [(ngModel)]="patInfo.MailingAddress">
              </div>
              <div class="col-md-4">
                <label for="">Mobile Number<span *ngIf="ContactNumber.invalid" class="required-sign">*</span></label><br />
                <input type="number" name="ContactNumber" disabled value="" [(ngModel)]="patInfo.ContactNumber" #ContactNumber="ngModel" />

              </div>
            </div>

            <!-- </form> -->
            <!--<button class="btn btn-primary mt-5" value="Submit">Update</button>-->
            <div class="col-md-12 p-0">
              <button *ngIf="isPatEditor" class="btn btn-success mr-1" (click)="cancel()">Cancel</button>
              <button class="btn btn-success" value="Submit">Update</button>
            </div>
          </form>

            <div *ngIf="isPatEditor == true">
            <div class="row d-flex">
              <div class="col-md-4">
                <label>First Name <span *ngIf="FirstName.invalid" class="required-sign"></span></label>
                <input type="text" name="FirstName" value=""
                       [(ngModel)]="patInfo.FirstName" size="25" required #FirstName="ngModel" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->

              </div>
              <div class="col-md-4">
                <label>Middle Name </label>
                <input type="text" name="MiddleName" value=""
                       size="25" [(ngModel)]="patInfo.MiddleName" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->
              </div>
              <div class="col-md-4">
                <label>Last Name<span *ngIf="LastName.invalid" class="required-sign"></span> </label>
                <input type="text" name="LastName" value=""
                       size="25" [(ngModel)]="patInfo.LastName" required #LastName="ngModel" />
                <!-- <div *ngIf="hasError('required','patUsrName')" style="color: red;"> Name is required</div> -->
                <!-- <input type="hidden" name="UserType" value="Patient" /> -->

              </div>
              <div class="col-md-4">
                <label for="Gender">Gender<span *ngIf="Gender.invalid" class="required-sign"></span></label><br />
                <input type="radio" value="Male" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> M<span class="hide-sm">ale &nbsp;&nbsp;</span>
                <input type="radio" value="Female" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> F<span class="hide-sm">emale&nbsp;&nbsp;</span>
                <input type="radio" value="Other" name="Sex" [(ngModel)]="patInfo.Gender" required #Gender="ngModel"> O<span class="hide-sm">ther&nbsp;&nbsp;</span>

              </div>
              <div class="col-md-4">
                <label for="">Date of Birth<span class="required-sign"></span></label>
                <div class="input-group">
                  <input class="form-control" [maxDate]="today" placeholder="Datepicker"
                         name="DOB" [(ngModel)]="patInfo.DateOfBirth"
                         bsDatepicker #d="bsDatepicker">
                  <div class="input-group-append">
                    <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
                <!-- <input type="date" name="DOB" value="" [(ngModel)]="patInfo.DateOfBirth " #DateOfBirth="ngModel" /> -->

              </div>
              <div class="col-md-4">
                <label for="">Email</label>
                <input type="email" name="Email" [(ngModel)]="patInfo.MailingAddress">
              </div>
              <div class="col-md-4">
                <label for="">Mobile Number<span *ngIf="ContactNumber.invalid" class="required-sign">*</span></label><br />
                <input type="number" name="ContactNumber" disabled value="" [(ngModel)]="patInfo.ContactNumber" #ContactNumber="ngModel" />

              </div>
            </div>

            <!-- </form> -->
            <!--<button class="btn btn-primary mt-5" value="Submit">Update</button>-->
            <div class="col-md-12">
              <button *ngIf="isPatEditor" class="btn btn-success" (click)="cancel()">Cancel</button> &nbsp;&nbsp;
              <button class="btn btn-success" (click)="updatepatient()">Update</button>
            </div>
            </div>
        </div>
      </div>
<footer *ngIf="isPatEditor == false" ></footer>
