<app></app>
<div class="Main">
  <div class="dashboard">
    <div class="card-body pt-2" style="padding: 0px !important">
      <div class="Book-Update" *ngIf="!updatePat">
        <!-- <button (click) ="Book Appointment()">Book Appointment</button><br>
        <button (click) ="History()">History</button><br> -->
        <ul class="doc-actions patient-actions p-0">
          <li class="d-inline mr-2"> <button (click)="BookAppointment()" class="btn"><i class="fa fa-calendar"></i>Book Appointment</button></li>
          <li class="d-inline mr-2"><button class="btn" (click)="UpdateProfile()"><i class="fa fa-user"></i>Update Profile</button></li>
          <li class="d-inline mr-2"><button class="btn" (click)="BookingList()"><i class="fa fa-book"></i>My Booking List</button></li>
          <li class="d-inline mr-2"> <button class="btn" (click)="PaidBookingList()"><i class="fa fa-book"></i>My Paid Booking List</button></li>
          <li class="d-inline mr-2"> <button class="btn" (click)="PatientHistory()"><i class="fa fa-clock-o"></i>History</button></li>
          <li class="d-inline mr-2"><button *ngIf="updatePat">Back To DashBoard </button></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="patient-highlight mb-2">
          <h1>
            Dear, {{patInfo.FirstName +' '+ patInfo.LastName }}
          </h1>
          <p>
            We believe that everyone deserves excellent health care. Our
            dedicated team of doctors provide compassionate care with a personal
            touch.
          </p>
          <a (click)="BookAppointment()" class="btn btn-primary btn-small text-white"><i class="fa fa-calendar"></i>Book Appointment</a>
          <a (click)="UpdateProfile()" class="btn btn-outline-secondary btn-small ml-2"><i class="fa fa-user"></i>Update Your Profile</a>
        </div>
      </div>

      <div class="col-md-4 col-xs-4">
        <div class="dashboard-slider mb-2">
          <!--<ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%" />
            </div>
          </ngx-slick-carousel>-->
          <!--slide end-->
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="patient-highlight mb-2">
          <h5>
            <strong>
              <i class="fa fa-exclamation-circle"></i>Your Step by Step
              Guide
            </strong>
          </h5>
          <ul style="padding-left: 15px; font-size: 13px">
            <li>First update your profile</li>
            <li>Book appointment with available doctors</li>
            <li>Make payment for your appointment</li>
            <li>Proceed to Doctor's Room to start your appointment</li>
          </ul>
        </div>
      </div>
      <div *ngIf="showNearestVisit" class="col-md-12 col-xs-12">
        <div class="alert alert-danger" style="padding-left: 60px">
          <i class="fa fa-exclamation-triangle exa-sign"></i>Hello <strong>
            {{patInfo.FirstName +' '+ patInfo.LastName }}
          </strong> ! Your
          doctor <strong> {{nearestVisit.DoctorName}} </strong> is now online, Please click
          the link to start the appointment with your doctor.
          <a (click)="GotoWaitingRoom(nearestVisit)" class="btn btn-danger btn-sm ml-2 text-white">Enter Waiting Room</a>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- MY booking list? -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5>My Bookings</h5>
        <ngb-tabset [destroyOnHide]="false" class="booking-tab">
          
          <ngb-tab title="All">
            <ng-template ngbTabContent>
              <!--Table-->
              <table class="table table-striped">
                <!--Table head-->
                <thead>
                  <tr>
                    <th>SN</th>
                    <th>VisitDate</th>
                    <th>DoctorName</th>
                    <th>Department</th>
                    <th style="text-align: center;">Action</th>
                  </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                  <tr *ngFor="let data of allcollection.data  |paginate: { itemsPerPage: 5, currentPage: p  } ; let i=index ;">
                    <td>{{i+1}}</td>
                    <td>{{data.VisitDate}}</td>
                    <td>{{data.DoctorName}}</td>
                    <td>{{data.DepartmentName}}</td>
                    <td *ngIf="data.PaymentStatus == 'unpaid'" align="left">
                      <button style="background-color: #1e1ee2"
                              (click)="paymentselection(data)">
                        Pay
                      </button>
                    </td>
                    <td *ngIf="data.PaymentStatus == 'paid'" align="left">
                      <label class="text-success"><i class="fa fa-check"></i>Paid</label>
                    </td>
                    <td *ngIf="data.PaymentStatus == 'free'" align="left">
                      <label class="text-info"><i class="fa fa-check-circle"></i>Free</label>
                    </td>
                  </tr>
                </tbody>
                <!--Table body-->
              </table>
              <pagination-controls style="font-size: 20px"
              (pageChange)="p = $event"></pagination-controls>
            </ng-template>
          </ngb-tab>
           
          <ngb-tab >
            <ng-template ngbTabTitle>Paid</ng-template>
            <ng-template ngbTabContent>
                <!--Table-->
                <table class="table table-striped">
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Visit Date</th>
                      <th>Doctor</th>
                      <th>Department</th>
                      <th style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr *ngFor="let data of patBookList |paginate: { itemsPerPage: 5, currentPage: p  } ; let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{data.VisitDate}}</td>
                      <td>{{data.DoctorName}}</td>
                      <td>{{data.DepartmentName}}</td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == true && data.AccessPermission  == true  && data.EntryStatus == 'go' && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <button (click)="GotoWaitingRoom(data)">
                          <i class="fa fa-check-circle"></i>Go to Waiting Room
                        </button>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false && data.EntryStatus == 'todaypast'  && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i>Visit time was
                          {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false && data.EntryStatus == 'todayupcoming'  && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-success">
                          <i class="fa fa-clock-o"></i>Visit time on {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false  && data.EntryStatus == 'upcoming' && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-success">
                          <i class="fa fa-calendar"></i>Visit date on {{data.VisitDate | date:'mediumDate' }} at {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false  &&  data.EntryStatus == 'missed'  && ( data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i> Visit date was
                          {{data.VisitDate | date:'mediumDate'}}
                        </label>
                      </td>
                      <td *ngIf="data.Status =='completed' && data.PaymentStatus != 'unpaid' "
                          align="left">
                        <label class="text-success"><i class="fa fa-check-circle"></i>Already Visited</label>
                      </td>
                      <td *ngIf="data.PaymentStatus == 'unpaid'" align="left">
                        <button class="btn btn-sm btn-danger">
                          <i class="fa fa-exclamation-circle"></i>Pay First
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <!--Table body-->
                </table>
                <pagination-controls style="font-size: 20px"
                (pageChange)="q = $event"></pagination-controls>
            </ng-template>
          </ngb-tab>
          
           
          
           
        </ngb-tabset>
        </div>
        </div>
        <div class="card mb-4" style="display: none;">
          <div class="card-body">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-12 d-flex justify-content-between">
                <h5 class="text-left pb-3">
                  All Booking List<span>
                    <!--<a href="" class="load-all-link">Load All</a>-->
                  </span>
                </h5>
                <ul class="nav nav-tabs booking-tab" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active"
                       id="home-tab"
                       data-toggle="tab"
                       href="#home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">All</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"
                       id="profile-tab"
                       data-toggle="tab"
                       href="#profile"
                       role="tab"
                       aria-controls="profile"
                       aria-selected="false">Paid</a>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active"
                   id="home"
                   role="tabpanel"
                   aria-labelledby="home-tab">
                <!--Table-->
                <table class="table table-striped">
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>VisitDate</th>
                      <th>DoctorName</th>
                      <th>Department</th>
                      <th style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr *ngFor="let data of allcollection.data  |paginate: { itemsPerPage: 5, currentPage: p  } ; let i=index ;">
                      <td>{{i+1}}</td>
                      <td>{{data.VisitDate}}</td>
                      <td>{{data.DoctorName}}</td>
                      <td>{{data.DepartmentName}}</td>
                      <td *ngIf="data.PaymentStatus == 'unpaid'" align="left">
                        <button style="background-color: #1e1ee2"
                                (click)="paymentselection(data)">
                          Pay
                        </button>
                      </td>
                      <td *ngIf="data.PaymentStatus == 'paid'" align="left">
                        <label class="text-success"><i class="fa fa-check"></i>Paid</label>
                      </td>
                      <td *ngIf="data.PaymentStatus == 'free'" align="left">
                        <label class="text-info"><i class="fa fa-check-circle"></i>Free</label>
                      </td>
                    </tr>
                  </tbody>
                  <!--Table body-->
                </table>
                <pagination-controls style="font-size: 20px"
                                     (pageChange)="p = $event"></pagination-controls>
                <!--Table-->
              </div>
              <div class="tab-pane fade"
                   id="profile"
                   role="tabpanel"
                   aria-labelledby="profile-tab">
                <!--Table-->
                <table class="table table-striped">
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Visit Date</th>
                      <th>Doctor</th>
                      <th>Department</th>
                      <th style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr *ngFor="let data of patBookList |paginate: { itemsPerPage: 5, currentPage: p  } ; let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{data.VisitDate}}</td>
                      <td>{{data.DoctorName}}</td>
                      <td>{{data.DepartmentName}}</td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == true && data.AccessPermission  == true  && data.EntryStatus == 'go' && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <button (click)="GotoWaitingRoom(data)">
                          <i class="fa fa-check-circle"></i>Go to Waiting Room
                        </button>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false && data.EntryStatus == 'todaypast'  && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i>Visit time was
                          {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false && data.EntryStatus == 'todayupcoming'  && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-success">
                          <i class="fa fa-clock-o"></i>Visit time on {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false  && data.EntryStatus == 'upcoming' && (data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-success">
                          <i class="fa fa-calendar"></i>Visit date on {{data.VisitDate | date:'mediumDate' }} at {{data.BookingTime}}
                        </label>
                      </td>
                      <td *ngIf="((data.Status == 'initiated' || data.Status == 'ongoing') && data.GoToWaitingRoom == false && data.AccessPermission  == false  &&  data.EntryStatus == 'missed'  && ( data.PaymentStatus == 'paid' || data.PaymentStatus == 'free') )"
                          align="left">
                        <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i> Visit date was
                          {{data.VisitDate | date:'mediumDate'}}
                        </label>
                      </td>
                      <td *ngIf="data.Status =='completed' && data.PaymentStatus != 'unpaid' "
                          align="left">
                        <label class="text-success"><i class="fa fa-check-circle"></i>Already Visited</label>
                      </td>
                      <td *ngIf="data.PaymentStatus == 'unpaid'" align="left">
                        <button class="btn btn-sm btn-danger">
                          <i class="fa fa-exclamation-circle"></i>Pay First
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <!--Table body-->
                </table>
                <pagination-controls style="font-size: 20px"
                                     (pageChange)="q = $event"></pagination-controls>
                <!--Table-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End my booking list -->
      <!-- History -->
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-12 d-flex justify-content-between">
                <h5 class="text-left pb-3">
                  My History
                </h5>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <table class="table table-striped">
              <!--Table head-->
              <thead>
                <tr>
                  <th>SN</th>
                  <th>VisitDate</th>
                  <th>DoctorName</th>
                  <th>Hospital</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr *ngFor="let item of historycollection.data |paginate: { itemsPerPage: 5, currentPage: r }">
                  <td>{{item.id}}</td>
                  <td>{{item.VisitDate | date:'shortDate'}}</td>
                  <td>{{item.DoctorName}}</td>
                  <td>{{item.HospitalName }}</td>
                  <td *ngIf="item.Status =='completed'"> <button (click)="ViewNotes(item.VisitId)" class="btn btn-primary btn-sm">View Notes</button></td>
                  <!-- <td *ngIf="item.Status !='completed'"> <button mat-raised-button color="warn" class="btn btn-danger btn-sm" > Notes Unavailable</button></td> -->
                  <td *ngIf="item.Status !='completed'">
                    <button class="btn btn-danger btn-sm">
                      Notes<br />
                      <span>Unavailable</span>
                    </button>
                    <button type="button" data-toggle="modal" data-target="#target"
                            (click)="ViewPrescription(item.VisitId)" class="btn btn-sm btn-primary">
                      View<br />
                      <span>Prescription</span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <pagination-controls style="font-size: 20px"
                                 (pageChange)="r = $event"></pagination-controls>
            <!--Table-->
          </div>
        </div>
        <!-- History End -->
      </div>
    </div>
  </div>
  <footer></footer>
</div>
<table>
  <div class="modal" id="myModal" [style.display]="showViewNotes ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Doctor Advice</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row modal-header text-center" *ngFor="let row of viewList" style="border: none; margin-bottom: 35px">
            <div class="w-100" id="Report">
              <div class="img-d" style="margin: auto; text-align:center; margin-bottom: 15px;">
                <img src="assets/img/hospital.png" height="50">
              </div>
              <div class="row modal-header text-center" *ngFor="let data of viewList" style="border: none; margin-bottom: 35px">
                <table align="center" style="width: 100%;">
                  <tr>
                    <td align="center" style="font-size: 20px; padding: 0; font-weight: 600;">Doctor Name : {{data.DoctorName}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-size: 20px;  padding: 0;font-weight: 600;">Patient Name : {{data.PatientName}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-size: 20px; padding: 0;font-weight: 600;">Hospital Name : {{data.HospitalName}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-size: 15px; padding: 0;font-weight: 600;">Visit Date: {{data.VisitEndTime | date:'medium'}}</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-size: 15px; padding: 0;font-weight: 600;">NMC Number: {{data.NMC }}</td>
                  </tr>

                </table>
              </div>
              <h4 class="modal-title w-100 font-weight-bold" style="text-align: center; margin-bottom: 20px; font-size: 17px;">Doctor Advice</h4>
              <div class="notes-prescription">
                <fieldset>
                  <legend>Other Pertinent Information:</legend>
                  <p>{{row.OtherPertientInformation}}</p>
                </fieldset>
                <fieldset>
                  <legend>Treatment Advice:</legend>
                  <p>{{row.TreatmentAdvice}}</p>
                </fieldset>
                <fieldset>
                  <legend>Medication given by doctor:</legend>
                  <p>{{row.Medication}}</p>
                </fieldset>
                <fieldset>
                  <legend>Follow up:</legend>
                  <p>{{row.FollowUp}}</p>
                </fieldset>
              </div>
            </div>
            <div class="print-action">
              <input type="button" value="Print Report" (click)="Print()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</table>
