@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import url('~\telemedicine\telemedicine\src\styles.css');*/
/*@import url('d:\bitbucket\imark_telemedicine\imark_telemedicine\telemedicine\telemedicine\src\styles.css');*/

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  background: #f8f8f8;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  margin: auto;
  font-size: 14px;
  width: 100%;
  padding-top: 5rem;
}

table td {
  font-size: 14px;
  padding: 7px;
}

.doctor-room table {
  width: 100%;
}

select option {
  font-size: 0.85rem;
  margin: 7px auto;
  display: block;
  font-weight: 500;
}

.doctor-room {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  position: relative;
  align-items: center;
  height: 100%;
  flex-direction: row;
  position: fixed;
  margin-top: -15px;
}

.navbar {
  box-shadow: 0px 0px 10px #ddd;
  z-index: 9;
}

.doctor-room .patient-info,
.doctor-room .screen {
  background-color: #fff;
  flex: 30%;
  min-width: 25%;
  margin: auto;
  text-align: left;
  line-height: 75px;
  font-size: 12px;
  padding: 0px;
  border-radius: 5px;
  height: 100%;
  z-index: 999;
}

.doctor-room .screen {
  flex: 75%;
  max-width: 75%;
  padding: 0px;
}

.doctor-room iframe {
  height: 100%;
  width: 100%;
  border: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"] {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  background: #fff;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 7px;
  display: block;
  max-width: 100%;
  padding: 3px 7px;
  font-weight: 500 !important;
  border-left: 1px solid #bbb !important;
  font-size: 14px !important;
}

textarea {
  min-height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  background: #fff;
  font-family: "Gilroy", sans-serif;
  padding: 10px;
  margin-bottom: 7px;
  font-weight: 600;
}

input[type="button"],
button {
  border: 1px solid #009688;
  background: #009688;
  padding: 4px 25px;
  font-family: "Gilroy";
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.info-heading button {
  padding: 4px 10px;
  text-transform: capitalize;
  font-weight: 500;
  margin: 10px 0;
  height: 35px;
  border: none;
}

.patient-info .info-heading {
  isplay: flex;
  flex-wrap: nowrap;
  width: auto;
  flex-direction: row;
  background: #fff;
  margin: auto;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 5px;
  box-shadow: none;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #eaedfd;
}
.doc-click {
  border-radius: 0px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: 12px;
  color: #009688;
  text-decoration: none;
}
.patient-info .info-heading input[type="button"] {
  margin-top: auto;
}
.patient-uploads a {
  font-size: 12px !important;
  background: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  color: #009688 !important;
  margin: 5px auto;
  text-align: center;
  line-height: 23px;
  border: 1px solid #009688;
  font-weight: 600 !important;
  display: inline-block;
  margin-right: 5px;
}
.patient-uploads a i {
  margin-right: 0;
  font-size: 13px;
  color: #009688;
}
.p-health-info label {
  color: #fff;
  border: 2px solid #dc3545;
  background: #dc3545 !important;
  font-weight: 600;
  padding: 0px 7px !important;
  font-size: 11px !important;
}
.patient-info .info-listing,
.patient-info .p-all {
  line-height: initial;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  display: block;
  width: 95%;
}

.btn-call {
  background: #009688;
  padding: 5px 10px;
  color: #fff !important;
  text-decoration: none;
  border-radius: 23px;
  font-size: 12px !important;
  opacity: 0.8;
  margin: 5px 0;
  text-align: center;
}

.btn-call:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.in-q-list {
  margin: 0;
  width: 100%;
  flex-wrap: initial;
  overflow: auto;
}
.in-q-list table tr td {
  padding: 5px;
}
.doc-chat-section {
  height: 365px !important;
  max-height: 365px !important;
}
.patient-info {
  overflow: auto;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  background: #fff;
}
.doc-chat-section .message-box {
  position: relative;
  width: 100% !important;
}
.doc-fixed-room .patient-highlight {
  height: 555px;
}
.doc-chat-section .chat-messages {
  padding-bottom: 0 !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-for-chat {
  background: #e7edf1;
  padding: 10px;
  border-radius: 5px;
}
.h-300 {
  max-height: 320px;
  overflow: auto;
  min-height: 320px;
}
label.treatment-advice {
  background: #fff;
  position: fixed;
  bottom: 0;
  display: block;
  max-width: 100%;
  min-width: 320px;
}

.patient-info .p-all {
  background: transparent;
  padding-top: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
  height: auto;
  max-height: 325px;
  font-weight: 600;
  color: #444;
  font-size: 14px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0;
}

.patient-info .p-all label {
  display: flex;
  margin: 3px auto;
  padding: 5px 15px;
  border-radius: 0;
  background: transparent;
  text-align: left;
  width: 100%;
  font-size: 12px;
  color: #999;
  box-shadow: none;
}

.patient-info .p-all label.col.col-md-4 {
  flex: 0 0 31.6%;
}

.patient-info .p-all label:nth-of-type(even) {
  border-right: 5px solid #fff;
}

.patient-info .p-all label span {
  font-weight: 800;
  display: inline-block;
  margin-top: auto;
  color: #333;
  padding: 7px 0;
}

.patient-info .p-all label span.label-title {
  min-width: 110px;
  color: #777;
}

.badge-yes {
  background: #ef5b5b;
  color: #fff !important;
  padding: 3px 10px !important;
  border-radius: 40px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px !important;
  display: inline-block !important;
  margin-left: 7px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.badge-no {
  background: #3f51b5;
  color: #fff !important;
  padding: 3px 10px !important;
  border-radius: 40px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px !important;
  display: inline-block !important;
  margin-left: 7px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.p-all {
  max-height: 100%;
  overflow: auto;
}

a {
  color: #3f51b5;
  text-decoration: underline;
  cursor: pointer;
  margin: auto;
  display: inline-block;
}

a.text-link {
  margin: 10px;
}

.badge-status {
  float: right;
  padding: 5px 10px;
  display: inline-block;
  font-size: 9px;
}

.m-7-a {
  margin: 7px auto;
}

.wait-section {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  position: relative;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.wait-section .brand-title {
  display: block;
  width: 100%;
  text-align: center;
}

.wait-section .brand-title .waiting-icon svg {
  height: 150px;
  width: auto;
}

.wait-section .brand-title .waiting-icon {
  text-align: center;
}

.wait-section .brand-title h1 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 25px;
  color: #333;
}

.user-title {
  color: #3f51b5 !important;
  font-size: 1.5rem !important;
  display: inline !important;
}

.Dash {
  color: #1a1aff !important;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

.Book-Update {
  color: #343435 !important;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

.profile-title {
  font-size: 18px !important;
  margin-bottom: 15px;
  font-weight: bold;
}

.Doc-form {
  color: #555;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

img.brand-img {
  height: 80px;
}
/* Base for label styling */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.9em;
  cursor: pointer;
  margin-bottom: auto;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.25em;
  left: 0.2em;
  font-size: 1em;
  line-height: 0.8;
  color: #3f51b5;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #09ad7e;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9 !important;
}

p.fever-checkbox {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-right: 7px;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #333;
  margin-top: auto;
  min-width: 180px;
}

.full-section table {
  width: 100%;
}

.full-section {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 100%;
  align-items: top;
  position: relative;
}

.full-section .patient-login {
  -webkit-flex: 2 1 0;
  flex: 2 1 0;
  -webkit-order: 2;
  order: 2;
}

.full-section .brand-title,
.full-section .doctor-login {
  -webkit-flex: 1 6 0;
  flex: 1 6 0;
}

.full-section .patient-login,
.full-section .doctor-login,
.full-section .brand-title {
  margin: 15px;
  z-index: 999;
  min-height: 550px;
  padding-left: 31px;
}

.full-section .patient-login form,
.full-section .doctor-login form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.brand-title {
  background-color: transparent !important;
  box-shadow: none !important;
  height: auto !important;
  position: sticky;
  top: 0;
}

.full-section .doctor-login {
  box-shadow: none;
  order: 2;
  align-self: flex-start;
  min-height: auto;
  position: sticky;
  top: 0;
}

table td label {
  font-size: 0.85rem;
  margin: 7px auto;
  display: block;
  font-weight: 600;
}

.brand-title h1 {
  line-height: normal;
  color: #3f51b5;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
  margin-top: 5rem;
  font-family: "Gilroy";
}

.brand-title h1 span {
  font-size: 25px;
  margin-top: 5px;
  display: block;
  color: #333;
  margin-bottom: 10px;
}

h5.form-header {
  color: #fff;
  line-height: initial;
  font-size: 25px;
  margin-top: auto;
  margin-bottom: 5px;
}

h5.form-header span {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid;
  line-height: 12px;
}

.full-section:before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  width: 73%;
  background: #3f51b5;
  height: 100%;
}

img.brand-img {
  height: 50px;
}

img.hos-img {
  height: 50px;
}

.waiting-icon ul {
  text-align: left;
}

.waiting-icon ul.inline {
  margin: 30px;
  text-align: left;
  padding-left: 0px;
}

.waiting-icon ul li:nth-of-type(even) {
  background: #f3f6f8;
}

.waiting-icon ul li {
  display: block;
  padding: 15px 5px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  text-align: left;
  margin: auto;
  font-size: 14px;
  position: relative;
  font-weight: 600;
}

.waiting-icon ul li span {
  position: absolute;
  background: #3f51b5;
  height: 20px;
  width: 20px;
  text-align: center;
  left: -20px;
  border-radius: 100%;
  color: #fff;
  padding: 2px;
}

.wait-section .report-title {
  width: 70%;
  text-align: center;
  background: #fff;
  margin: 25px auto;
  padding-top: 50px;
  display: inline-block;
  padding-bottom: 50px;
}

.wait-section .report-title h1 {
  font-size: 20px;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 40px;
}

.powered-section {
  bottom: 10px;
  padding: 7px 20px;
  position: fixed;
  text-align: left;
  width: auto;
}

.powered-section img {
  height: 55px;
  left: 0px;
  position: relative;
}

.powered-section span {
  display: none;
}

@media (max-width: 900px) {
  body {
    background: #eeedf6;
  }

  .doctor-room {
    flex-direction: column;
    position: relative;
  }

  .doctor-room .patient-info,
  .doctor-room .screen {
    margin: 0;
    width: 100%;
  }

  .full-section:before {
    background: transparent;
  }

  .full-section {
    flex-direction: column !important;
    height: auto;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
  }

  .full-section .patient-login,
  .full-section .doctor-login,
  .full-section .brand-title {
    max-width: 90%;
    height: auto;
    flex: 100%;
    width: 100%;
    min-height: auto;
    position: relative;
    margin: 10px auto;
  }

  .brand-title h1 {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 3rem;
  }

  .brand-title h1 span {
    font-size: 1.5rem;
  }

  img.brand-img {
    height: 50px;
  }

  .patient-info .p-all {
    width: 100%;
  }

  .powered-section {
    position: relative;
    bottom: 20px;
    text-align: right;
    width: 100%;
    z-index: 999;
    opacity: 0.5;
    padding: 0px !important;
  }

  .powered-section span {
    right: 0;
    position: absolute;
    top: -10px;
    display: block;
  }

  .powered-section img {
    left: 0px;
  }
}

@media (max-width: 600px) {
  .welcome-top {
    position: relative;
    left: 0 !important;
    margin-bottom: 0;
    color: #009688;
    font-weight: 600;
    font-size: 15px;
  }
  body {
    overflow: auto;
  }

  h5.form-header,
  h5.form-header span {
    color: #333;
  }

  .brand-title {
    text-align: center;
  }

  .animated-item .waiting-info h1 {
    font-size: 14px !important;
  }

  .doctor-room .patient-info,
  .doctor-room .screen {
    margin: 0;
    width: 100%;
  }

  .doctor-room {
    flex-direction: column;
    position: relative;
  }

  .full-section:before {
    background: transparent;
    display: none;
  }

  .full-section {
    flex-direction: column !important;
    align-items: center;
  }

  .full-section .patient-login,
  .full-section .doctor-login,
  .full-section .brand-title {
    max-width: 100%;
    height: auto;
    flex: 100%;
    width: 100%;
  }

  .patient-login table tr td {
    display: block;
  }

  .brand-title h1 {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 2rem;
  }

  .brand-title h1 span {
    font-size: 1.5rem;
  }

  img.brand-img {
    height: 50px;
  }

  .pi-counter span.counter {
    margin-top: 25px;
  }
}
.btn-complete-visit {
  border: 1px solid #009688 !important;
  width: 100%;
  background: #009688;
}
.message-count {
  margin-bottom: 0;
  background: #007bff;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  display: inline-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.treatment-entry {
  border-radius: 0 !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  background: #dbdeef !important;
  height: auto;
  margin: 0 !important;
}
.p-health-info {
  width: 95%;
  margin: 10px auto;
  flex-wrap: wrap;
  padding: 7px;
  border: 1px solid #f7e0de;
  background: #f7e0de;
}
.p-all {
  background-color: #fff;
  margin: 0;
  padding: 15px;
}
.p-all label {
  padding: 5px 16px;
  font-weight: 600;
  font-size: 0.75rem;
  background: transparent;
  border-radius: 50px;
  margin: 5px;
}
.p-all label span {
}
.p-que {
  background-color: #fff;
  font-weight: 600;
}

.p-all table tr td {
  white-space: normal;
  font-size: 12px;
}

.p-que i {
  font-size: 12px;
  margin-right: 7px;
}
/*Loader*/

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65%;
  padding-bottom: 20%;
}

.loading-container img {
  animation: play 2s ease infinite;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.animated-item {
  text-align: center;
  min-width: 100%;
}

.animated-item .waiting-info {
  margin-top: 70px;
}

.animated-item .waiting-info h1 {
  padding: 11px 3px;
  border: 2px solid #3f51b5;
  font-size: 16px;
  border-radius: 40px;
  color: #3f51b5;
  position: relative;
  z-index: 9;
  font-weight: 500;
  display: inline-block;
  font-family: "Gilroy";
}

.animated-item .waiting-info .for-info {
  margin-top: 5px;
  color: #5d5d5d;
  font-size: 12px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  margin: auto;
}

.pi-counter span.name {
  background: #3f51b5;
  padding: 9px 20px;
  margin-right: 15px;
  border-radius: 40px;
  color: #fff;
}

.pi-counter span.counter {
  margin-right: 15px;
}

.animated-item i {
  margin-right: 7px;
  font-size: 15px;
}

.p-all label i {
  color: #777;
}
.p-all label i {
  color: #777;
}
.p-all label span.label {
  min-width: 40%;
  display: inline-block;
}

i.fa {
  margin-right: 7px;
}

@keyframes play {
  0% {
    transform: scale(1);
  }

  15% {
    box-shadow: 0 0 0 20px rgba(27, 164, 155, 0.05);
  }

  25% {
    box-shadow: 0 0 0 20px rgba(27, 164, 155, 0.05),
      0 0 0 40px rgba(27, 164, 155, 0.05);
  }

  30% {
    transform: scale(1.2);
  }
  /* 80% {
    box-shadow: 0 0 0 20px rgba(27, 164, 155, 0.05), 0 0 0 40px rgba(27, 164, 155, 0.05);
    }*/
  80% {
    transform: scale(1);
  }
}

@media all and (max-width: 768px) {
  h5.form-header span,
  h5.form-header {
    display: inline-block;
    color: #333;
  }

  .brand-title h1 span {
    margin-bottom: 2px;
  }

  .doctor-room iframe {
    height: auto;
    border: none;
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  h5.form-header span,
  h5.form-header {
    display: inline-block;
    color: #333;
  }

  p.fever-checkbox {
    min-width: 150px;
  }

  .hide-sm {
    /* display: none */
  }

  .full-section {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
}

.login-body {
  width: 95%;
  margin: auto;
}

.head-sm {
  font-weight: bold;
  margin: 5px auto;
  display: block;
  font-size: 14px;
  color: #333;
}

.patient-login table {
  table-layout: fixed;
  width: 100%;
}

.patient-login table tr.3-cols td {
  width: 33.33%;
}

.patient-login table tr.2-cols td {
  width: 50%;
}

.patient-login table tr td {
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
}

.Book-Update .doc-actions ul {
  display: flex;
}

.Book-Update .doc-actions ul li {
  width: 150px;
  display: inline-block;
}

.Main .card {
}

.Main .card .card-body {
}

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }

  .back-btn-doc-room span {
    display: none;
  }
}

.gallery-item {
  width: 100%;
  height: auto;
  padding-bottom: 0;
  position: relative;
}

.regular-img-container {
  margin-right: 10%;
}

.slider-container {
  overflow: hidden;
}

.slide-holder {
  width: 400%;
  position: relative;
  animation: scroller 10s infinite;
  animation-direction: alternate;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
}
img:-moz-broken {
  opacity: 0;
}
img:-webkit-broken {
  opacity: 0;
}
img {
  position: relative;
}

.slide-holder img {
  width: 25%;
  display: inline-block;
  max-width: 25%;
  margin-right: 0px;
}

.hospital-image {
  height: 100%;
  width: 250px;
  display: block;
  transition: 0.3s linear;
  position: relative;
  cursor: pointer;
  margin-top: 0px;
  margin: 0;
  padding: 0;
}

.hospital-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hospital-grid:hover {
  box-shadow: 0px 0px 25px #ddd !important;
}
.hospital-grid {
  position: relative;
  margin: 10px auto;
  border: none;
  font-family: "Gilroy";
  height: 120px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.hospital-grid .hospital-content {
  position: relative;
  bottom: 0px;
  width: 100%;
}
.hospital-grid .hospital-content a.btn.text-primary {
  font-size: 17px;
}
.hospital-grid .hospital-content a.btn {
  width: 100%;
  border-radius: 0px;
  background: #fff !important;
  border: 1px solid #fff;
  color: #555;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}
.hospital-grid .hospital-content a.btn:hover,
.hospital-grid .hospital-content a.btn:focus {
  color: #333 !important;
}

.hospital-image a {
  height: 350px;
  width: 100%;
  display: block;
  transition: 0.3s linear;
}

.hospital-image:hover:before {
  opacity: 0;
}
.hospital-image img {
  position: relative;
}
.hospital-image img:after {
  background: url(./assets/img/img-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 88px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 15px;
  left: 37px;
  opacity: 0.3;
}
.hospital-content .btn {
  padding-top: 0;
}
/* .hospital-image:before {
  background: #333;
  height: 100%;
  width: 100%;
  content: "";
  top: 0px;
  left: 0;
  position: absolute;
  opacity: 0.4;
  transition: 0.3s linear;
} */

.hospital-image a img {
  height: 100%;
  object-fit: cover;
}

.hospital-content a span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}

.hospital-content .logo-img {
  background: #fff;
  padding: 7px;
  height: 50px;
  position: relative;
  top: -10px;
}

.searchbar {
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0;
  border: 1px solid #a9b2e4;
  box-shadow: none;
  font-family: "Gilroy";
  padding-right: 5px;
  overflow: hidden;
}

.searchbar .search_input {
  border: none !important;
  outline: 0;
  background: none;
  width: 78%;
  caret-color: #333;
  line-height: 40px;
  transition: width 0.4s linear;
  color: #333;
  height: 100%;
  display: inline-block;
  padding-left: 20px;
  font-size: 16px;
}

.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 78%;
  caret-color: #333;
  line-height: 40px;
  transition: width 0.4s linear;
  color: #333;
}

.search_icon {
  height: 40px;
  width: 22%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  color: white;
  text-decoration: none;
  background: #3f51b5;
  margin: 4px 0;
}

.search_icon:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 10px #ddd;
}

.search_icon i {
  padding-right: 7px;
}

.searchbar-card {
  margin: 2rem auto;
}

.gallery-item {
  width: 100%;
  height: auto;
  padding-bottom: 0;
  position: relative;
}

.regular-img-container {
  margin-right: 10%;
}

.slider-container {
  overflow: hidden;
}

.slide-holder {
  width: 400%;
  position: relative;
  animation: scroller 10s infinite;
  animation-direction: alternate;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
}

.slide-holder img {
  width: 25%;
  display: inline-block;
  max-width: 25%;
  margin-right: -5px;
}

/* need a step for each slide */
@keyframes scroller {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-25%);
  }

  40% {
    transform: translateX(-25%);
  }

  60% {
    transform: translateX(-50%);
  }

  70% {
    transform: translateX(-50%);
  }

  90% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(-75%);
  }
}

.title {
  margin-bottom: 15px;
  font-weight: 600;
}

.title i {
  font-size: 80%;
}

.back-btn-doc-room:before {
  content: "\279E";
  position: absolute;
  top: 1px;
  left: 10px;
  font-size: 20px;
  transform: rotate(180deg);
}
.modal {
  background: rgb(0 0 0 / 79%);
}

.mat-select-value {
  font-size: 15px;
  height: 20px;
  padding: 4px 0px;
  color: #333;
}
.back-bg {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0px;
  border-radius: 5px;
}
.back-bg .mat-standard-chip {
  margin: 0 3px;
}
/* .back-btn-doc-room:after {
  position: fixed;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  top: -11px;
  left: 0;
  z-index: 0;
  margin-top: 80px;
} */
.back-btn-doc-room {
  position: relative;
  z-index: 999;
  margin-right: 10px;
  display: inline-block;
  top: 0;
  background: #86a19e;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  padding-left: 35px;
  border: 1px solid #86a19e;
  cursor: pointer;
  margin-top: 0 !important;
  margin-bottom: 20px;
}
.ngb-dp-month {
  width: 400px;
}
.ngb-dp-months {
  justify-content: space-between;
}
.ngb-dp-week {
  border-radius: 0.25rem;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.call-box {
  width: 100%;
}

html,
body {
  height: 100%;
}
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

.payment-section {
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #eee;
  padding: 25px;
  box-shadow: 0px 0px 20px #eee;
  background: #fff;
}

.frame-area {
  width: 100%;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 120px #ddd;
  border-radius: 0;
  height: 100%;
  border-radius: 10px;
  height: 500px;
}
.btn-frame {
  border: 1px solid #aaa;
  color: #555;
  text-decoration: none;
  margin: 6px;
  width: 50%;
  text-align: center;
}
.btn-frame:hover,
.btn-frame:focus {
  color: #000;
  border: 1px solid #999;
  text-decoration: none;
}
.frame-area iframe {
  height: 100%;
  border-radius: 10px;
}

.rounded-circle {
  height: 100;
  width: 100;
  border-radius: 100%;
}

.modal {
  overflow-y: auto;
}
.mat-dialog-actions {
  position: relative;
}
.carousel {
  -webkit-transition: opacity 2000s ease-in-out;
  -moz-transition: opacity 2000s ease-in-out;
  -ms-transition: opacity 2000s ease-in-out;
  -o-transition: opacity 2000s ease-in-out;
  opacity: 1;
  margin-bottom: 0;
}
form tr td {
  min-height: 150px;
}
.doc-hos-list-prf tr td {
  vertical-align: middle !important;
}
@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .doc-actions li button.btn {
    width: 100%;
  }
  .patient-info {
    margin: 15px;
  }
}
@media (min-width: 768px) {
  .for-mobile thead.d-md-block {
    display: table-header-group !important;
  }
  .patient-info {
  }
}
@media (max-width: 767px) {
  .for-mobile thead.d-md-block {
    display: none !important;
  }
  .for-mobile tr,
  .for-mobile tr td {
    display: block !important;
    border: none !important;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 1000px;
  }
}

.new-toolbox .toolbox-content .toolbox-button {
  display: none;
}
.welcome-top {
  position: relative;
  left: 35%;
  margin-bottom: 0;
  color: #009688;
  font-weight: 600;
}
.welcome-top img {
  height: 35px;
  width: 35px;
  object-fit: contain;
}
.patient-actions .btn i {
  display: inline-block !important;
  margin-bottom: 0px !important;
}
.patient-actions {
  margin-bottom: 10px;
}
.patient-actions .btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.notes-prescription fieldset {
  border: 1px solid #eef2f6;
  margin-bottom: 25px;
  min-height: auto;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #eef2f6;
}
.notes-prescription legend {
  display: inline-block;
  color: #009688;
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 50px;
  width: 225px;
}
.booking-tab ul {
  margin: 15px auto;
  border: none;
}
.booking-tab ul li a.nav-link {
  background: #eee;
  border-radius: 50px !important;
  border: 1px solid #eee;
}
