<style>
  /* Important part */
  .modal-dialog {
    overflow-y: initial !important;
  }

  .modal-body {
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .large-video-labels .circular-label.insecure {
    display: none;
  }
</style>
<!-- Modals for fullscreen and send message -->
<!-- Modal send message -->
<!-- <div
  class="modal fade modal-send-message"
  id="send-message"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ChatForm" class="doc-chat-section">
          <div
            class="alert alert-default p-1 mb-2"
            style="
              background: #f9f9f9;
              border: 1px solid #f9f9f9;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <p class="text-center small font-weight-normal">
              <i class="fa fa-info"></i> Please select your {{ IsDoctor ?
              'Patient' : 'Doctor' }} to start conversiation.
            </p>

          </div>
          <div class="select-for-chat">
            <select
              *ngIf="IsDoctor == true"
              id="selPatient"
              formControlName="Id"
              (change)="OnChatUserChange()"
              class="select-select-patient form-control"
            >
              <option disabled value="null">
                Select {{ IsDoctor ? 'Patient' : 'Doctor' }}
              </option>
              <option *ngFor="let user of patList" [ngValue]="user">
                {{ user.PatientName }}
              </option>
            </select>
          </div>

          <div class="chat-messages h-300 pr-1">
            <label *ngIf="IsDoctor == false" for="selPatient">
              <i class="fa fa-user-md"></i>Doctor:
              <b> {{docName}} </b>
            </label>

            <div
              *ngIf="hasError('required','Id') && IsDoctor == true"
              style="color: red; font-size: 12px; margin-bottom: 7px"
            >
              {{ IsDoctor ? 'Patient' : 'Doctor' }} is required
            </div>
            &nbsp; &nbsp;
            <div class="message-box-holder" *ngFor="let msg of ChatMessages">
              <div *ngIf="msg.Name !='Me'" class="message-by-doc">
                <span
                  ><i class="fa fa-user"></i>{{ msg.Name }}: {{ msg.Message }}
                </span>
              </div>
              <div *ngIf="msg.Name =='Me'" class="message-by-me">
                <span style="background: #e7e9f8">{{ msg.Message }} </span>
              </div>
            </div>
          </div>
          <div class="chat-input-holder message-box" style="margin-top: 10px">
            <textarea
              style="border: 1px solid #ccc"
              class="chat-input"
              placeholder="Type your message here.."
              formControlName="chatMessage"
              (keyup)="onChatEnter($event)"
            ></textarea>
            <div class="chat-input-holder">
              <div
                *ngIf="hasError('required','chatMessage')"
                style="color: red; font-size: 12px; margin-bottom: 7px"
              >
                Chat message is required
              </div>
              <input
                type="button"
                value="Send"
                class="message-send btn-primary"
                (click)="SendChatMsg()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- End -->
<!-- Modal Full screen -->
<!-- <div
  class="modal fade modal-fullscreen"
  id="full-screen"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" style="max-width: 100%">
    <div class="modal-content">

      <div class="modal-body">
        <div class="frame-area">
          <iframe
            [src]="global.config.videourl | safe"
            width="800"
            height="640"
            scrolling="no"
            frameborder="0"
            allow="microphone; camera"
            class="call-box"
          ></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <a class="text-default" data-dismiss="modal">
          <i class="fa fa-window-restore"></i>Exit Full Screen
        </a>
      </div>
    </div>
  </div>
</div> -->
<!-- End -->
<!-- Modal for fullscreen and send message end -->
<div class="full-body">
  <app></app>
  <button [routerLink]="['/DocDashboard']" [queryParams]="{redirectUrl: 'DoctorUrl'}" *ngIf="token.UserType == 'Doctor'" class="back-btn-doc-room">
    Back <span>
      To
      DashBoard
    </span>
  </button>
  <!--<button [routerLink]="['/PatDashboard']" [queryParams]="{redirectUrl: 'PatientUrl'}" *ngIf="token.UserType == 'Patient'" class="back-btn-doc-room">
    Back <span>
      To
      DashBoard
    </span>
  </button>-->


  <div class="row doc-fixed-room">
    <div class="col-lg-3 col-md-12 col-sm-12">

        <div class="frame-area video-frame" #fullScreen >
          <iframe id="meet" [src]="global.config.videourl | safe" width=800 height=640 scrolling="no" frameborder="0"
                  allow="microphone; camera;" class="call-box"></iframe>
          <!--<div id="meet">
     </div>-->
           <a *ngIf="isVideoFullscreen" class="btn btn-outline" style="border:1px solid #666" (click)="closeFullscreen()">
            <i class="fa fa-window-restore"></i>Exit Full Screen
          </a>
        </div>

      <!-- Send Message modal -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="ChatForm" class="doc-chat-section">
            <div class="alert alert-default p-1 mb-2"
                 style="
                background: #f9f9f9;
                border: 1px solid #f9f9f9;
                display: flex;
                justify-content: center;
                align-items: center;
              ">
              <p class="text-center small font-weight-normal">
                <i class="fa fa-info"></i> Please select your {{
 IsDoctor ?
                'Patient' : 'Doctor'
                }} to start conversiation.
              </p>
              <!--<select *ngIf="IsDoctor == false" id="docName" formControlName="Id" >
                <option *ngFor="let doc of docList" [value]="doc.DoctorName" [selected]="doc.DoctorName == docName"> {{doc.DoctorName}} </option>
              </select>-->
            </div>
            <div class="select-for-chat">
              <select *ngIf="IsDoctor == true"
                      id="selPatient"
                      formControlName="Id"
                      (change)="OnChatUserChange()"
                      class="select-select-patient form-control">
                <option disabled value="null">
                  Select {{ IsDoctor ? 'Patient' : 'Doctor' }}
                </option>
                <option *ngFor="let user of patList" [ngValue]="user">
                  {{ user.PatientName }}
                </option>
              </select>
            </div>

            <div class="chat-messages h-300 pr-1">
              <label *ngIf="IsDoctor == false" for="selPatient">
                <i class="fa fa-user-md"></i>Doctor:
                <b> {{docName}} </b>
              </label>

              <div *ngIf="hasError('required','Id') && IsDoctor == true"
                   style="color: red; font-size: 12px; margin-bottom: 7px">
                {{ IsDoctor ? 'Patient' : 'Doctor' }} is required
              </div>
              &nbsp; &nbsp;
              <div class="message-box-holder" *ngFor="let msg of ChatMessages">
                <div *ngIf="msg.Name !='Me'" class="message-by-doc">
                  <span>
                    <i class="fa fa-user"></i>{{ msg.Name }}: {{ msg.Message }}
                  </span>
                </div>
                <div *ngIf="msg.Name =='Me'" class="message-by-me">
                  <span style="background: #e7e9f8">{{ msg.Message }} </span>
                </div>
              </div>
            </div>
            <div class="chat-input-holder message-box" style="margin-top: 10px">
              <textarea style="border: 1px solid #ccc"
                        class="chat-input"
                        placeholder="Type your message here.."
                        formControlName="chatMessage"
                        (keyup)="onChatEnter($event)"></textarea>
              <div class="chat-input-holder">
                <div *ngIf="hasError('required','chatMessage')"
                     style="color: red; font-size: 12px; margin-bottom: 7px">
                  Chat message is required
                </div>
                <input type="button"
                       value="Send"
                       class="message-send btn-primary"
                       (click)="SendChatMsg()" />
              </div>
            </div>
          </form>
        </div>

      </ng-template>
      <!-- Send message modal end -->
      <!-- Full screen modal -->
      <!--<ng-template #content let-modal>

        <div class="modal-body" >
          <div class="frame-area">
            <iframe [src]="global.config.videourl | safe"
                    width="800"
                    height="640"
                    scrolling="no"
                    frameborder="0"
                    
                    allow="microphone; camera;"
                    class="call-box"></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');exitFullscreen()"> <i class="fa fa-window-restore"></i>Exit Full Screen</button>
        </div>
      </ng-template>-->
      <!-- Full screen modal end -->



      <div class="d-flex justify-content-between bg-white py-1 mt-2">
        <button class="btn-frame btn-sm bg-white" (click)="open(content)"><i class="fa fa-comments-o"></i>Message<label class="badge bagde-primary badge-sm message-count">10</label></button>
        <!-- <a href=""
           class="btn-frame btn-sm bg-white"
           data-toggle="modal"
           data-target="#send-message"><i class="fa fa-comments-o"></i>Message<label class="badge bagde-primary badge-sm message-count">10</label>
          </a> -->
        <!-- <a href=""
          class="btn-frame btn-sm bg-white"
          data-toggle="modal"
          data-target="#full-screen"><i class="fa fa-arrows-alt"></i>Fullscreen</a> -->
        <!--<button class="btn-frame btn-fullscreen btn-sm bg-white" (click)="openVideo()">
          <i class="fa fa-comments-o"></i><i class="fa fa-arrows-alt"></i>Fullscreen
        </button>-->
        <a (click)="openFullscreen()" class="btn-frame btn-fullscreen btn-sm bg-white" title="Full Screen">
        <i class="fa fa-comments-o"></i><i class="fa fa-arrows-alt"></i>Fullscreen </a>
      </div>
    </div>



    <div class="col-lg-3 col-md-12 col-sm-12 pl-0" style="padding-right: 0px">
      <div class="patient-info">
        <div>
          <!-- <img src="./assets/img/hospital.png" height="35" /> -->
          <h5 *ngIf="token.UserType == 'Doctor'" class="title">
            <i class="fa fa-user"></i>Patients in Queue
          </h5>
        </div>

        <div class="d-flex row in-q-list" *ngIf="IsDoctor">

          <div class="col col-md-12 p-0">
            <table *ngFor="let temp of patients; let i = index" class="table table-striped">
              <tr>
                <td>
                  <div class="patient-icn">
                  </div>
                </td>
                <td><h5 class="user-nm">{{temp.PatientName}}</h5></td>
                <td>
                  <div *ngIf="temp.Status=='initiated' && showCallButton" class="col-md-12">
                    <!--<a (click)="CallPatient(temp.VisitId ,temp.PatientId)" [routerLink]="['/DoctorRoom']" class="btn-call"><i class="fa fa-video-camera"></i>Call</a>-->
                    <a (click)="CallPatient(temp.VisitId,temp.PatientId)" [routerLink]="['/DoctorRoom']" class="btn-call">
                      <i class="fa fa-video-camera"></i>Call


                    </a>
                    &nbsp;
                    <i class="fa fa-calendar-times-o" style="color: cadetblue;font-weight:600;font-size:12px">{{temp.BookingTime}}</i>
                  </div>
                  <div *ngIf="temp.Status=='initiated' && !showCallButton" class="col-md-12">
                    <!--<a (click)="CallPatient(temp.VisitId ,temp.PatientId)" [routerLink]="['/DoctorRoom']" class="btn-call"><i class="fa fa-video-camera"></i>Call</a>-->
                    
                    <i class="fa fa-calendar-times-o" style="color: cadetblue;font-weight:600;font-size:12px">{{temp.BookingTime}}</i>
                  </div>

                  <div class="col-md-12" *ngIf="temp.Status=='ongoing'">
                    <a class="btn-Incall" style="color: #efe9e9">
                      <i class="fa fa-video-camera"></i>In Call
                      &nbsp;
                      <i class="fa fa-calendar-times-o">{{temp.BookingTime}}</i>
                    </a>
                    <!--<a class="fa-phone" (click)="CallPatient(temp.VisitId ,temp.PatientId)" [routerLink]="['/DoctorRoom']" style="color:#efe9e9"><i class="fa fa-video-camera"></i></a>-->
                    <a (click)="CallPatient(temp.VisitId,temp.PatientId )" [routerLink]="['/DoctorRoom']"
                       style="padding: 5px 10px; font-size: 13px; color:#009688; text-decoration: none; font-weight: 600; margin-left: 15px;">
                      <!--<i class="fa fa-info-circle"></i>Info-->
                    </a>
                  </div>
                </td>
              </tr>
            </table>
            <!-- <div class="patient-on">



            </div> -->
          </div>
        </div>
        <div>
          <div class="card-body pl-0 pr-0">
            <div class="card-body p-0 accordionItemContent">
              <div class="chatbox-holder">
                <div class="chatbox"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-listing" *ngIf="IsDoctor">
          <table border="0"></table>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-xs-12" >
      <!-- <div *ngIf="showPatDetail"> -->
      <div class="h-100">
        <div *ngFor="let row of filteredpat" class="row d-flex p-all">
          <div class="row">
            <div class="col-md-7">
              <!-- <div   class="row d-flex p-all"> -->
              <h5 class="card-header p-que col col-md-12" style="text-align: left !important; border-bottom: none;">
                <i class="fa fa-user" style="font-size: 100%;"></i>{{row.PatientName}} | {{row.Gender}}
                <span class="d-block small mt-2" style="font-size: 60%; font-weight: 600; color: #666;"><i class="fa fa-id-card-o"></i>{{row.PatientId}}</span>
                <span class="d-block small mt-2" style="font-size: 60%; font-weight: 600; color: #666;">
                  <i class="fa fa-phone"></i>{{row.ContactNumber}}
                </span>
                <span class="d-block small mt-2" style="font-size: 60%; font-weight: 600; color: #666;">
                  <i class="fa fa-map-marker"></i>{{row.Address}}
                </span>
                <div class="left col-md-12 p-0">
                  <!--<a class="doc-click" style="
                            border-radius: 0px;
                            width: 100%;
                            padding-top: 7px;
                            padding-bottom: 7px;
                          " data-toggle="collapse" href="#Collapse1" role="button" aria-expanded="false"
                  aria-controls="Collapse1" (click)="GetDocuments()"><i class="fa fa-file-o"></i>Documents</a>-->
                  <a class="doc-click" style="
                                              border-radius: 0px;
                                              width: 100%;
                                              padding-top: 7px;
                                              padding-bottom: 7px;
                                              text-decoration: underline;
                                              color: indigo;
                                            "
                     (click)="isCollapsed = !isCollapsed"
                     [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" (click)="GetDocuments()"><i class="fa fa-file-o"></i>Documents</a>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card p-0">
                      <div class="card-body p-0">
                        <div class="f-flex patient-uploads" *ngIf="showDocument">
                          <span *ngFor="let data of documents; let i=index;">
                            <a (click)="preview(data.FilePath, data.FileExtention, data.Title)"><i class="fa fa-file-o mr-1"></i>{{data.FileType}}</a>
                          </span>
                        </div>
                        <div *ngIf="!showDocument && clickDocument" style="background-color: #fff">
                          <p class="alert alert-danger">No Uploaded Document</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div *ngIf="showDocument" style="background-color: #fff">
                  <div class="tabbable-custom">
                    <div class="tab-content">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">SN</th>
                            <th scope="col">VisitDate</th>
                            <th scope="col">FileType</th>
                            <th scope="col">FileName</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of documents; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.VisitDate}}</td>
                            <td>{{data.FileType}}</td>
                            <td>{{data.FileName}}</td>
                            <td align="center">
                              <button (click)="preview(data.FilePath, data.FileExtention, data.Title)" style="background-color: blue">
                                View
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> -->
                <div class="f-flex patient-uploads" *ngIf="showDocument">
                  <span *ngFor="let data of documents; let i=index;">
                    <a (click)="preview(data.FilePath, data.FileExtention, data.Title)"><i class="fa fa-file-o mr-1"></i>{{data.FileType}}</a>
                  </span>
                </div>
                <div *ngIf="!showDocument && clickDocument" style="background-color: #fff">
                  No Uploaded Document.
                </div>
              </h5>

              <!--<label for="">Age : <span>{{row.Age}}</span></label>-->
              <!--<label for="">Email : <span>{{row.Email}}</span></label>-->
              <!--<label for="" class="col-md-6"><span class="label-title"><i class="fa fa-ellipsis-v"></i>Fever</span> <span [ngClass]="row.Fever == true ? 'badge-yes': 'badge-no'">Yes{{row.Fever | yesNoPipe}}</span></label>
                      <label for="" class="col-md-6"><span class="label-title"><i class="fa fa-ellipsis-v"></i>Cough</span> <span [ngClass]="row.Cough == true ? 'badge-yes': 'badge-no'">no{{row.Cough | yesNoPipe}}</span></label>-->
              <div class="d-flex p-health-info alert alert-default">
                <label *ngIf="row.Fever" for="" class="">
                  <span class="label-title">Fever</span>
                </label>
                <label *ngIf="row.Cough" for="" class="">
                  <span class="label-title">Cough</span>
                </label>
                <label *ngIf="row.BreathingDifficulty" for="" class="">
                  <span class="label-title">
                    Breathing Difficulty
                  </span>
                </label>
                <label *ngIf="row.Tiredness" for="" class="">
                  <span class="label-title">Tiredness</span>
                </label>
                <label *ngIf="row.SoreThroat" for="" class="">
                  <span class="label-title">Sore Throat</span>
                </label>
                <label *ngIf="row.Bodyache" for="" class="">
                  <span class="label-title">Bodyache</span>
                </label>
                <label *ngIf="row.ChestPain" for="" class="">
                  <span class="label-title">Chest Pain</span>
                </label>
                <label *ngIf="row.Diarrhea" for="" class="">
                  <span class="label-title">Diarrhoea</span>
                </label>

                <label *ngIf="row.HeartDisease" for="" class="">
                  <span class="label-title">
                    Heart Disease
                  </span>
                </label>
                <label *ngIf="row.HighBloodPressure" for="" class="">
                  <span class="label-title">
                    High Blood Pressure
                  </span>
                </label>
                <label *ngIf="row.Diabetes" for="" class="">
                  <span class="label-title">Diabetes</span>
                </label>
                <label *ngIf="row.Copd" for="" class="">
                  <span class="label-title">Copd/Asthma</span>
                </label>
                <label *ngIf="row.Transplant" for="" class="">
                  <span class="label-title">Transplant</span>
                </label>
                <label *ngIf="row.RecentTravel" for="" class="">
                  <span class="label-title">
                    Recent Travel
                  </span>
                </label>
                <label *ngIf="row.Cancer" for="" class="">
                  <span class="label-title">Cancer</span>
                </label>
                <label *ngIf="row.Exposure" for="" class="">
                  <span class="label-title">
                    Exposure of Covid Patient
                  </span>
                </label>
              </div>
              <div d-block>
                <label for="" class="col-md-12">
                  <span style="    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;"><i class="fa fa-ellipsis-v"></i>Other Symptoms</span>
                  <span class="d-block" style="color: #666">{{row.AnyOtherSymptoms}}</span>
                </label>
                <label for="" class="col-md-12">
                  <span style="    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;">
                    <i class="fa fa-ellipsis-v"></i>Other Pertinent
                    Information
                  </span>
                  <span class="d-block" style="color:#666">{{row.OtherPertientInformation}}</span>
                </label>
              </div>
            </div>
            <div class="col-md-5">

              <label class="d-block w-100 treatment-entry alert alert-default">
                <span *ngIf="token.UserType == 'Doctor'" style="    margin-bottom: 3px;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 600;">
                  Treatment Advice :
                </span>
                <textarea *ngIf="token.UserType == 'Doctor'" [(ngModel)]="visitObj.TreatmentAdvice"></textarea>
                <span *ngIf="token.UserType == 'Doctor'" style="    margin-bottom: 3px;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 600;">
                  Medication :
                </span>
                <textarea *ngIf="token.UserType == 'Doctor'" [(ngModel)]="visitObj.Medication"></textarea>
                <span *ngIf="token.UserType == 'Doctor'" style="    margin-bottom: 3px;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 600;">
                  Follow Up :
                </span>
                <textarea *ngIf="token.UserType == 'Doctor'" [(ngModel)]="visitObj.FollowUp"></textarea>

                <input *ngIf="token.UserType == 'Doctor'" type="button" value="Complete Visit"
                       (click)="openDialog(row.VisitId)" class="btn-complete-visit" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" [style.display]="showView ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: white">
        {{Title}}
        <button type="button"
                class="close"
                data-dismiss="modal"
                (click)="hide()">
          X
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" style="background-color: floralwhite">
        <div class="info-heading">
          <img *ngIf="Filetype == 'image'"
               src="{{path}}"
               style="
              width: 331px;
              height: 339px;
              align-content: center;
              margin: 56px 638px 91px 649px;
            " />
          <pdf-viewer *ngIf="Filetype == 'pdf'"
                      src="{{path}}"
                      [render-text]="true"
                      [show-all]="true"
                      [stick-to-page]="false"
                      [original-size]="true"
                      style="display: block"></pdf-viewer>

          <div *ngIf="Filetype == 'docfile'">
            <a href="{{path}}"
               class="btn btn-primary btn-lg active"
               role="button">Click to Open Doc File</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width: 768px) {
    .doc-fixed-room {
      position: relative !important
    }
  }

  @media (max-width: 768px) {
    #meet iframe {
      width: 100% !important;
      min-height: 550px;
    }
  }

  .frame-area iframe {
    min-height: 470px !important;
  }

  #meet {
    height: 90%;
  }
  .fullscreenactive{
      position:fixed;
      height:100%;
      width:100%;
      left:0;
      top:0;
  }
</style>

