/* Layouts */
/* Animation Mixins */
@-webkit-keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

.dropdownAnimation,
.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
  -webkit-animation-name: dropdownAnimation;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.infinite-spin {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes menufadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes menufadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.menufadeInLeft {
  -webkit-animation-name: menufadeInLeft;
  animation-name: menufadeInLeft;
}

.nav .nav-item,
.navbar-nav .nav-item {
  line-height: 1;
}
@media (max-width: 992px) {
  .nav .nav-item.dropdown,
  .navbar-nav .nav-item.dropdown {
    position: unset;
  }
}
.nav .nav-item.dropdown .dropdown-toggle:after,
.navbar-nav .nav-item.dropdown .dropdown-toggle:after {
  border: none;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 20px;
  color: grey;
  text-rendering: auto;
  line-height: inherit;
  vertical-align: 0;
}
.nav .nav-item.dropdown .count-indicator,
.navbar-nav .nav-item.dropdown .count-indicator {
  position: relative;
  text-align: center;
}
.nav .nav-item.dropdown .count-indicator i,
.navbar-nav .nav-item.dropdown .count-indicator i {
  font-size: 21px;
  margin-right: 0;
  vertical-align: middle;
}
.nav .nav-item.dropdown .count-indicator .count,
.navbar-nav .nav-item.dropdown .count-indicator .count {
  position: absolute;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #ff0017;
  color: #ffffff;
  font-size: 11px;
  top: -1px;
  font-weight: 600;
  line-height: 1rem;
  border: none;
  text-align: center;
}
.nav .nav-item.dropdown .count-indicator:after,
.navbar-nav .nav-item.dropdown .count-indicator:after {
  display: none;
}
.nav .nav-item.dropdown i,
.navbar-nav .nav-item.dropdown i {
  margin-right: 0.5rem;
  vertical-align: middle;
}
.rtl .nav .nav-item.dropdown i,
.rtl .navbar-nav .nav-item.dropdown i {
  margin-left: 0.5rem;
  margin-right: 0;
}
.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
  font-size: 0.9rem;
  margin-top: 15px;
  position: absolute;
  right: 0;
  left: auto;
  border: 1px solid rgba(182, 182, 182, 0.1);
  padding: 0 0 20px;
  min-width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  overflow-x: hidden;
  max-height: 350px;
  overflow-y: auto;
  overflow: hidden;
}
.rtl .nav .nav-item.dropdown .navbar-dropdown,
.rtl .navbar-nav .nav-item.dropdown .navbar-dropdown {
  right: auto;
  left: 0;
}
@media (max-width: 991px) {
  .nav .nav-item.dropdown .navbar-dropdown,
  .navbar-nav .nav-item.dropdown .navbar-dropdown {
    right: -85px;
  }
}
.nav .nav-item.dropdown .navbar-dropdown.dropdown-left,
.navbar-nav .nav-item.dropdown .navbar-dropdown.dropdown-left {
  left: 0;
  right: auto;
}
.nav .nav-item.dropdown .navbar-dropdown .badge,
.navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
  margin-left: 0.5rem;
}
.rtl .nav .nav-item.dropdown .navbar-dropdown .badge,
.rtl .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
  margin-left: 0;
  margin-right: 1.25rem;
}
@media (max-width: 991px) {
  .nav .nav-item.dropdown .navbar-dropdown .badge,
  .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
    margin-right: 0.5rem;
  }
  .rtl .nav .nav-item.dropdown .navbar-dropdown .badge,
  .rtl .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
    margin-left: 0.5rem;
    margin-right: 0;
  }
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 5px 25px;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item i,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  font-size: 24px;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item .preview-icon,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .preview-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-item .small-text,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .small-text {
  font-size: 0.75rem;
}
.nav .nav-item.dropdown .navbar-dropdown .dropdown-divider,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
  margin: 0;
}

/* Navbar */
.navbar.default-layout {
  font-family: "Gilroy", sans-serif;
  background: #fff;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}
.navbar.default-layout .navbar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  background: transparent;
  width: 270px;
  height: 63px;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
  color: #36459b;
  font-size: 1rem;
  font-weight: bold;
  line-height: 48px;
  margin-right: 0;
  padding: 0.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:active,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
  color: #424546;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
  width: 50px;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
}
.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
  display: none;
}
.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
  width: 40px;
  max-width: 100%;
  margin: auto;
}
.navbar.default-layout .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #001737;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 270px);
  height: 63px;
}
@media (max-width: 991px) {
  .navbar.default-layout .navbar-menu-wrapper {
    width: calc(100% - 140px);
  }
}
.navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
}
@media (max-width: 991px) {
  .navbar.default-layout
    .navbar-menu-wrapper
    .navbar-toggler:not(.navbar-toggler-right) {
    display: none;
  }
}
.navbar.default-layout .navbar-menu-wrapper .search-form {
  width: 35%;
  margin-right: 30px;
}
.navbar.default-layout .navbar-menu-wrapper .search-form .form-group {
  margin-bottom: 0;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
  margin-left: 1rem;
}
@media (max-width: 992px) {
  .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 0px;
  }
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 15px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 1.25rem;
  vertical-align: middle;
  margin-right: 0;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown {
  margin-left: 35px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown:before {
  position: relative;
  top: 2px;
  font-size: 20px;
  color: grey;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown
  .dropdown-menu {
  min-width: 250px;
  margin-top: 9px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown
  .dropdown-menu
  .dropdown-header {
  padding: 20px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown
  .dropdown-menu
  .dropdown-item {
  padding: 10px 15px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.user-dropdown
  .dropdown-toggle:after {
  position: relative;
  top: 50%;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.language-dropdown
  .dropdown-menu {
  width: 170px;
  left: -15px !important;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.language-dropdown
  .dropdown-menu
  .dropdown-item {
  padding-left: 22px;
  padding-right: 12px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.language-dropdown
  .dropdown-menu
  .dropdown-item
  .flag-icon-holder {
  margin-right: 15px;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.language-dropdown
  .flag-icon-holder {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  overflow: hidden;
}
.navbar.default-layout
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.language-dropdown
  .flag-icon-holder
  i {
  font-size: 25px;
}
@media (min-width: 992px) {
  .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .navbar.default-layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar.default-layout .navbar-brand-wrapper {
    width: 140px;
  }
  .navbar.default-layout .navbar-brand-wrapper .brand-logo {
    display: none;
  }
  .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
    display: inline-block;
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
  }
}

/* Sidebar */
.sidebar.active .action-cards {
  padding: 15px;
  background: #fff;
}
.sidebar {
  min-height: calc(100vh - 63px);
  background: transparent;
  font-family: "Gilroy", sans-serif;
  padding: 0;
  width: 270px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar > .nav {
  overflow: hidden;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sidebar > .nav .nav-item .collapse {
  z-index: 999;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu,
.sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu {
  margin: 5px 0;
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item
  .nav-link,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item
  .nav-link {
  padding: 10px 0px 10px 70px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(15px - 2px);
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: "ease-in-out";
  transition-timing-function: "ease-in-out";
  -webkit-transition-property: "background", "color", "box-shadow", "padding",
    "box-shadow";
  transition-property: "background", "color", "box-shadow", "padding",
    "box-shadow";
  transition-property: "background", "color", "box-shadow", "padding";
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item
  .nav-link:before,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item
  .nav-link:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 35px;
  display: block;
  height: 100%;
  width: 2px;
  background: #1026de;
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item
  .nav-link:hover,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item
  .nav-link:hover {
  color: #fff;
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item
  .nav-link:hover:before,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item
  .nav-link:hover:before {
  background: #fff;
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item:first-child
  .nav-link,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item:first-child
  .nav-link {
  padding-top: 0;
}
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapse
  .sub-menu
  .nav-item:last-child
  .nav-link,
.sidebar
  > .nav
  .nav-item:not(.hover-open)
  .collapsing
  .sub-menu
  .nav-item:last-child
  .nav-link {
  padding-bottom: 0;
}
.sidebar > .nav .nav-item .nav-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px 15px 55px;
  white-space: nowrap;
  color: #fff;
}
.sidebar > .nav .nav-item .nav-link i.menu-arrow {
  margin-left: auto;
  margin-right: 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.sidebar > .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 1;
  font-style: normal;
  vertical-align: middle;
  color: #bfccda;
}
.sidebar > .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar > .nav .nav-item .nav-link .menu-icon {
  display: none;
  margin-right: 1.25rem;
  width: 16px;
  line-height: 1;
  font-size: 18px;
  color: #fff;
}
.sidebar > .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  vertical-align: middle;
  font-weight: 500;
}
.sidebar > .nav .nav-item .nav-link .badge {
  margin-left: auto;
}
.sidebar > .nav .nav-item .nav-link:hover {
  color: #f2f2f2;
}
.sidebar > .nav .nav-item.active > .nav-link {
  color: #fff;
}
.sidebar > .nav .nav-item.active > .nav-link .menu-title,
.sidebar > .nav .nav-item.active > .nav-link i {
  color: inherit;
}
.sidebar > .nav .nav-item.nav-profile {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sidebar > .nav .nav-item.nav-profile .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 15px 25px;
}
.sidebar > .nav .nav-item.nav-profile .nav-link .profile-image {
  margin-right: 15px;
  position: relative;
}
.sidebar > .nav .nav-item.nav-profile .nav-link .dot-indicator {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.sidebar > .nav .nav-item.nav-profile .nav-link .profile-name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}
.sidebar > .nav .nav-item.nav-profile .nav-link .designation {
  margin-bottom: 0;
  font-weight: 400;
  color: #fff;
}
.sidebar > .nav .nav-item.nav-category {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  margin: 0 30px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0px 15px 0px;
}
.sidebar > .nav > .nav-item > .nav-link {
  height: 52px;
}
.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link {
  position: relative;
}
.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
  content: "";
  position: absolute;
  left: 30px;
  right: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  display: block;
}
.sidebar > .nav:not(.sub-menu) > .nav-item > .nav-link {
  background: transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease-in-out";
  transition-timing-function: "ease-in-out";
  -webkit-transition-property: "background", "color", "box-shadow", "padding",
    "box-shadow";
  transition-property: "background", "color", "box-shadow", "padding",
    "box-shadow";
  transition-property: "background", "color", "box-shadow", "padding";
}
.sidebar
  > .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile):not(.hover-open)
  > .nav-link:not([aria-expanded="true"]) {
  background: #0f25d5;
  padding-left: 65px;
}
.sidebar
  > .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile):not(.hover-open)
  > .nav-link:not([aria-expanded="true"]):before {
  border-color: #fff;
}
.sidebar
  > .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile):not(.hover-open)
  > .nav-link:not([aria-expanded="true"])
  .menu-title {
  color: #fff;
}
.sidebar
  > .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile):not(.hover-open)
  > .nav-link:not([aria-expanded="true"])
  .menu-arrow:before {
  color: #bfccda;
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 63px);
    top: 95px;
    bottom: 0;
    overflow: auto;
    right: -270px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas.active {
    right: 0;
  }
}

/* Footer */
.footer {
  background: #fff;
  padding: 20px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  border-top: 1px solid #cdd6dc;
  font-size: calc(0.875rem - 0.05rem);
  font-family: "Gilroy", sans-serif;
}
.footer a {
  font-size: inherit;
}
@media (max-width: 991px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}

.navbar.fixed-top + .page-body-wrapper {
  padding-top: 63px;
}

.purchase-banner-active .navbar.fixed-top {
  top: 55px;
}
.purchase-banner-active .navbar.fixed-top + .page-body-wrapper {
  padding-top: calc(63px + 55px);
}

.card {
  box-shadow: none;
  border: none !important;
  border-radius: 10px !important;
}
.card .card-title {
  color: #212529;
}
.card .card-header {
  background: #fff;
}

.page-body-wrapper {
  min-height: calc(100vh - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}
.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: 100%;
  min-height: calc(100vh - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #f6f7f9;
  padding: 1.5rem 1.7rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container-scroller {
  overflow: hidden;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #cdd6dc;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .page-header {
    display: inline-block;
  }
}

.page-title {
  margin-top: 0;
  margin-bottom: 2px;
}
@media (max-width: 992px) {
  .page-title {
    margin-botttom: 15px;
  }
}

.quick-links {
  list-style: none;
  margin-bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4px;
  padding-left: 0;
}
@media (min-width: 992px) {
  .quick-links {
    padding-left: 10px;
  }
}
.quick-links li {
  margin-right: 10px;
  border-right: 1px solid #212529;
  line-height: 1;
}
.quick-links li a {
  display: inline-block;
  color: #212529;
  text-decoration: none;
  padding-right: 10px;
}
.quick-links li:last-child {
  margin-right: 0;
  border-right: none;
}
.quick-links li:last-child a {
  padding-right: 0;
}

.page-title-header {
  margin-bottom: 20px;
}

.page-header-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  .page-header-toolbar {
    display: inline-block;
  }
  .page-header-toolbar .toolbar-item {
    margin-top: 20px;
  }
}
.page-header-toolbar .btn-group,
.page-header-toolbar .btn {
  border: none;
}
.page-header-toolbar .btn-group i,
.page-header-toolbar .btn i {
  font-size: 1.24rem;
  color: #2196f3;
}
.page-header-toolbar .btn-group.dropdown-toggle:after,
.page-header-toolbar .btn.dropdown-toggle:after {
  color: #2196f3;
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}
@media (max-width: 992px) {
  .filter-wrapper {
    margin-left: 0;
  }
}

.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
}
@media (max-width: 992px) {
  .sort-wrapper {
    width: 100%;
  }
}

.advanced-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  white-space: nowrap;
}

#sales-statistics-legend .chartjs-legend {
  margin-top: 20px;
  margin-right: 20px;
}
#sales-statistics-legend .chartjs-legend ul li {
  color: #212529;
}
#sales-statistics-legend .chartjs-legend ul li span {
  width: 20px;
  height: 3px;
  border-radius: 0px;
}

#net-profit-legend .chartjs-legend li {
  font-weight: 500;
  color: #212529;
}

.average-price-card .card {
  background: #030aac;
}

.average-price-card h3 {
  margin-bottom: 0;
}

.average-price-card .icon-holder {
  border-radius: 5px;
  border: 1px solid #4e55c5;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #2944b5;
  color: #fff;
  font-size: 20px;
}
.average-price-card .icon-holder i {
  line-height: 1;
}

#dashboard-vmap {
  height: 161px;
  width: 100%;
}
#dashboard-vmap .jvectormap-zoomin,
#dashboard-vmap .jvectormap-zoomout {
  display: none;
}

/*# sourceMappingURL=style.css.map */

.content-wrapper .carousel-inner .carousel-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.content-wrapper .carousel {
  margin-bottom: 15px;
  min-height: 300px;
  background: #eee;
}
.action-cards .action {
  background: #fff;
  border-radius: 7px;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  transition: 0.3s linear;
  border: 2px solid transparent;
}
.action-cards .action:hover {
  box-shadow: 0px 0px 10px #bcbcbc;
  border: 2px solid #fff;
  text-decoration: none;
  background: #fff !important;
}
.action-cards .action img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.action-cards .action h5 {
  margin-left: 7px;
  margin-bottom: 0;
  font-weight: 500;
  margin: 7px 10px;
  font-size: 15px;
}
h5.sm-txt {
  font-size: 13px;
  font-weight: bold;
}
.action-cards .action.primary {
  background: #afcfea;
}
.action-cards .action.primary h5 {
  color: #1b45e9;
}
.action-cards .action.info {
  background: #d0f9d4;
}
.action-cards .action.info h5 {
  color: #2ca91e;
}
.action-cards .action.danger {
  background: #ffdfdf;
}
.action-cards .action.danger h5 {
  color: #e94040;
}
.action-cards {
  /*  position: fixed;
  width: 22%;*/
}
.stat-table table th,
.stat-table table td {
  font-size: 12px;
}
.stat-table table th {
  background: #eceff8;
  width: 20%;
  white-space: initial;

  line-height: 20px;
}
.stat-table table th,
.stat-table table td {
  border: 1px solid #aaa;
  border-color: #aaa !important;
  font-weight: 600;
}
.stat-table {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.province-card .nav-link {
  padding: 10px 25px;
  margin-right: 5px;
  background: #ddd;
  border-radius: 4px !important;
  color: #333;
}
.province-card .nav-link.active,
.province-card .nav-link:hover {
  border: none !important;
  background: #2196f3 !important;
  border-radius: 4px !important;
  color: #fff !important;
  font-weight: bold !important;
}
.province-card {
  margin-bottom: 25px;
  overflow: auto;
}
.card-transparent {
  background: transparent;
  color: #555;
}
.card-transparent .card-body {
  padding: 0px !important;
}
.card-transparent .card-body .d-flex .wrapper {
  background: #fff;
  width: 100%;
  padding: 15px 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #ddd;
  border: 1px solid #ddd;
}
.card-blue .text-primary-dim {
  color: #ffef00 !important;
  font-weight: 500;
}
.card-blue .d-flex {
  border-right: 1px solid #5e8db7;
}
.text-danger {
  color: #ed0404 !important;
}
.bg-primary-dark {
  background: #36459b;
  padding: 0rem 1.7rem;
}
.bg-back button {
  padding: 4px 35px !important;
}
.mt-2p {
  margin-top: 2rem;
}
.li-inline {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.li-inline li {
  color: #fff;
  font-size: 12px;
  margin: auto 0px;
  list-style: none;
}
.li-inline li a {
  color: #fff;

  padding: 5px 10px;

  display: inline-block;
}
.li-inline li:hover a,
.li-inline li a:focus {
  text-decoration: none;
  background: #2196f3;
}
.test-right .li-inline {
  justify-content: flex-end;
}
/*News Tricker*/
#news-ticker {
  font-weight: bold;
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  background: #ef3939;
  margin-bottom: 25px;
  padding: 10px 15px;
  border-radius: 5px;
}

#news-ticker .ticker-title {
  display: inline-block;
  margin-right: 32px;
}

#news-ticker ul {
  display: inline-block;
  position: relative;
}

#news-ticker li a {
  color: #fff;
  text-decoration: none;
}

#news-ticker li a:hover {
  text-decoration: underline;
  color: #fff;
}

#news-ticker li {
  position: absolute;
  left: 0;
  width: 0;
  overflow: hidden;
  height: 2em;
  word-wrap: break-word;
  opacity: 0;
}

#news-ticker li.tick {
  -webkit-animation: tick 5s linear;
}
.flag-icon-holder img {
  width: 100%;
}
.body-header {
  background: #dbdbdb;
  padding: 1.5rem 1.7rem;
  color: #333;
}
.body-header .content-wrapper {
  padding: 0px;
  background: transparent;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}
.announcement-card.full {
  padding: 25px;
  box-shadow: none;
}
.announcement-card {
  background: #fff;
  display: inline-block;
  padding: 15px;
  font-weight: 600;
  font-size: 12px;
  color: #555;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ddd;
  margin-bottom: 15px;
}
.announcement-card:hover {
  text-decoration: none;
}
.announcement-card img {
  max-width: 100%;
}
.announcement-card img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  width: 100%;
}
.announcement-card h1 {
  font-size: 1.5rem;
  margin: 15px auto;
  font-weight: 900;
  color: #222;
}
.announcement-card p {
  font-weight: 500;
  font-size: 15px;
  color: #666;
  line-height: 28px;
}

.announcement-card .read-label {
  font-size: 15px;
  color: #2196f3;
}
.announcement-card .read-label i {
  margin-right: 7px;
}
form label {
  font-weight: 600;
}
.form-group.row .form-group {
  margin-bottom: 0px;
}
.form-action {
  margin-top: 25px;
}
@-webkit-keyframes tick {
  0% {
    width: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    width: 550px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.marquee {
  height: 45px;
  width: 100%;
  background: #ef3939;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  padding: 12px;
  border-radius: 0px;
}

.marquee div {
  display: block;
  width: 200%;
  height: 25px;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}
.marquee:hover div {
  animation: none;
}
.marquee span {
  width: auto;
}
.marquee span a {
  color: #fff;
  padding: 0px 20px;

  transition: 0.3s linear;
}
.copy-right span {
  display: block;
  margin-right: 15px;
  font-weight: 600;

  font-size: 12px;
}
.copy-right img {
  height: 60px;
}
.copy-right.powered img {
  height: 20px;
}
.copy-right.powered {
  position: relative;
  top: 10px;
}
small {
  font-weight: 600;
}
.navbar-nav .nav-item a {
  color: #333;
  font-size: 16px;
}
.navbar-nav .nav-item:hover a {
  color: blue;
}
.a-home {
  background: #2196f3;
  color: #fff;
  font-weight: 500;
  margin: 17px 10px;
  height: 30px;
  padding: 3px 15px;
  border-radius: 5px;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/*News Tricker End*/
@media (max-width: 768px) {
  .action-cards {
    position: relative !important;
    width: 100% !important;
  }
  .action-cards .action {
    padding: 3px 15px;
  }
  .action-cards .action img {
    height: 15px;
    width: 15px;
    margin-top: 8px;
  }
  .action-cards .action h5 {
    font-size: 13px;
  }
  .content-wrapper .carousel-inner .carousel-item img {
    height: 200px;
  }
  .content-wrapper .carousel {
    min-height: 200px;
  }
  #news-ticker .ticker-title {
    display: block;
  }
  #news-ticker,
  #news-ticker ul {
    font-size: 12px;
  }
  .slide ol.carousel-indicators {
    display: none;
  }
  .card-blue .card-body {
    padding: 15px;
  }
  .card-blue .d-flex {
    border-right: none;
  }
  .province-card .nav-link {
    margin: 3px;
    padding: 6px;
  }
  .content-wrapper {
    padding: 1.5rem 0.7rem;
  }
  .province-card .card-header {
    padding: 20px;
  }
  .stat-table {
    padding: 0px;
  }
  .stretch-card .card-body {
    padding: 10px;
  }
  .li-inline li {
    list-style: none;
  }
  .li-inline li a {
    padding: 5px 7px;
  }
  .navbar.fixed-top + .page-body-wrapper {
    padding-top: 80px;
  }
  .page-body-wrapper {
    min-height: calc(100vh - 80px);
  }
}

@media (max-width: 768px) {
  .content-wrapper .carousel-inner .carousel-item img {
    height: 200px;
  }
}
@media (max-width: 400px) {
  .content-wrapper .carousel-inner .carousel-item img {
    height: 100px !important;
  }
  .content-wrapper .carousel {
    min-height: 100px;
  }
  .stat-table table th,
  .stat-table table td {
    font-size: 12px;
  }
}
.a-home {
  line-height: inherit;
  color: #333;
  font-weight: 500;
  padding: 18px 0px;
}
.login-container {
  background-image: url(../assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
  padding: 50px 0;
  width: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.login-container:before {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #eaefee;
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.85;
}
.login-container .login-brand {
  text-align: center;
  z-index: 9;
}
.login-container .login-brand img {
  height: 50px;
  opacity: 0.5;
}
.login-flex {
  flex-direction: row;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-left: none;
  padding-left: 10px;
  font-size: 14px;
}
.login-container .card-footer {
  background: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid #59d1c6;
  border-left: none;
}
.info-section {
  background: #fff;
  height: 100%;
  padding: 35px;
  text-align: left;
  margin: auto;
  font-size: 14px;
  margin-top: 25px;
  align-items: baseline;
}
.info-section img {
  text-align: left;
}
.info-section .info h2 {
  font-weight: 900;
  color: #3f51b5;
}
.login-container .login-brand {
  text-align: left;
  margin-bottom: 25px;
}
.login-container .bg-primary {
  background: #1eac84;
  padding: 60px;
  box-shadow: 0px 0px 10px #eee;
  color: #fff;
  border-radius: 0px;
  font-size: 13px;
}
.login-container .info h2 p {
  text-transform: capitalize;
  margin-top: 7px;
}
.login-container .card .card-header {
  background: white;
  padding: 1.2rem 1.81rem;
  border-bottom: none;
  text-align: center;
}
.flex-report-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.flex-report-title h1 {
  border-bottom: 1px solid #3f51b5;
  display: inline-block;
  border-top: 1px solid #3f51b5;
  padding: 10px 0;
  color: #3f51b5;
}
.card.report-card {
  text-align: left;
  border: 1px solid #ccc;
  margin: auto 30px;
  position: relative;
  margin-bottom: 40px;
}
.card.report-card .card-title {
  position: absolute;
  top: -18px;
  left: 30px;
  background: #fff;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
/* end only demo styles */

.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
  font-size: 0.9rem;
  margin-bottom: 10px !important;
  outline: none !important;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 1px solid#3F51B5;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #3f51b5;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label,
.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
.carousel-doc-dash {
  margin-top: 0px;
}
.carousel-doc-dash img {
  max-width: 100%;
}

.grid-section {
  border-radius: 10px;
  width: 100%;
  margin: auto;
  border: 1px solid #eee;
  padding: 25px;
  box-shadow: 0px 0px 20px #eee;
  background: #fff;
}

.btn-Incall {
  background: #dc3545;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 23px;
  font-size: 12px !important;
  opacity: 1;
  margin: 5px 0;
  text-align: center;
}
.user-nm {
  margin-top: 10px;
  font-weight: 600;
  color: #666;
  font-size: 12px;
}
.patient-icn i {
  margin-right: 0 !important;
  font-size: 18px;
}
.patient-icn {
  height: 10px;
  width: 10px;
  margin: auto;
  background: #0bc911;
  border-radius: 100%;
}
.in-q-list table td {
  vertical-align: middle;
}
.patient-on .btn-call {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.patient-on {
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}
.count-patient {
  height: 17px;
  width: 17px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  background: #009688;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.alert-default {
  background: #dbdeef;
}
.alert-default p {
  margin-bottom: 0px;
  color: #666;
  font-size: 13px;
}
.alert-default i {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
  margin: 3px;
}
.alert-default table tr {
  background: transparent !important;
}
.alert-default table tr td,
.alert-default table tr th {
  border: none;
  padding-left: 2px;
  padding-right: 2px;
}
.required-sign {
  color: red;
  font-size: 15px;
  margin-left: 5px;
  line-height: 10px;
}
.alert-default .form-control {
  border: 1px solid #d2dbda;
}
.alert-default .round-btn {
  color: #fff !important;
}
.doc-hos-list-prf {
  border: none;
  background-color: #fff;
}
.round-btn {
  margin-left: 10px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-flex;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
app + .btn-back-doc-room {
  top: 0;
}
.ngx-pagination {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.doc-fixed-room {
  /* position: fixed;
  width: 100%;
  padding-top: 50px;
  margin: 0;
  left: 0px;
  top: 0;
  height: 100%; */
}
.bg-telehealth {
  background: #283c86; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #673ab7,
    #3f51b5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #673ab7,
    #3f51b5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: none;
}
.btn-learn {
  width: auto;
  text-decoration: underline !important;
  color: #8862e0 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.bg-telehealth .nav-link {
  color: #fff !important;
}
.doc-actions li button.btn {
  transition: 0.5s linear;
  cursor: pointer;
  padding: 25px;
  box-shadow: none;
  color: #009688;
  border: 1px solid #009688;
  min-width: 150px;
  z-index: 9;
  font-weight: 600;
  font-size: 14px;
}
.doc-actions li button.btn:hover,
.doc-actions li button.btn.active {
  background: linear-gradient(to right, #009688, #0bb4a3);
  color: #fff;
  z-index: 9999;
}
.doc-actions li button.btn i {
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}
.full-body .bg-telehealth {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0;
  box-shadow: none;
}
/* .btn-learn {
  width: 150px;
  height: 100px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: none;
} */
.btn-learn:hover {
  background: #fff;
  color: #555;
}
.input-group .input-group-append button {
  margin-top: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #dbdeef;
  border: 1px solid #dbdeef;
  color: #333;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #2196f3 !important;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 12px 20px;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary:hover {
  color: #fff !important;
}
.theme-green .bs-datepicker-head {
  background-color: #3f51b5 !important;
}
.theme-green .bs-datepicker-body table td.week span {
  color: #ff9800 !important;
}
.bs-datepicker-container {
  padding: 0 !important;
}
input:-internal-autofill-selected {
  background-color: #fff;
}
.active-btn {
  box-shadow: 0px 9px 10px rgba(63, 81, 181, 0.5) !important;
  -webkit-box-shadow: 0px 9px 10px rgba(63, 81, 181, 0.5) !important;
  -moz-box-shadow: 0px 9px 10px rgba(63, 81, 181, 0.5) !important;
  -ms-box-shadow: 0px 9px 10px rgba(63, 81, 181, 0.5) !important;
  background: #fff !important;
}
.mat-select,
.mat-option {
  font-family: "Gilroy" !important;
  font-weight: 500;
}
.mat-form-field-infix {
  border-top: none !important;
  padding: 10px 0 !important;
  color: #333;
}
.cdk-overlay-pane {
  margin-top: 40px !important;
}
ngb-datepicker {
  width: 100%;
  background: #fff;
  padding: 15px;
  box-shadow: none;
  border: none !important;
}
.ngb-dp-weekdays {
  background-color: #fff !important;
  border: none !important;
}
.ngb-dp-week-number,
.ngb-dp-weekday {
  line-height: 2rem;
  text-align: center;
  font-style: inherit !important;
  font-weight: 600 !important;
  color: #bbb !important;
}
.ngb-dp-month-name {
  background-color: #fff !important;
  color: #009688;
  font-weight: 600;
}
.ngb-dp-arrow-btn,
.chevron.ngb-tp-chevron {
  color: #999 !important;
  font-size: 12px !important;
  outline: none !important;
}
.ngb-dp-header {
  margin-bottom: 20px;
  background-color: #dae3e2 !important;
  padding-top: 10px !important;
  padding-bottom: 10px;
  border-radius: 0px !important;
}
.ngb-dp-arrow-btn {
  color: #000;
}
ngb-datepicker-navigation-select > .custom-select {
  margin-right: 10px;
}
.ngb-dp-day {
  margin: 2px;
}
.custom-day {
  padding: 0.4515rem 0.25rem !important;
  border-radius: 100%;
}
.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
  width: 2.4rem !important;
  height: 2.4rem !important;
  margin: 2px;
  outline: none !important;
}
ngb-timepicker {
  background: #fff;
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  margin: auto;
  text-align: center;
  box-shadow: none;
}
.ngb-tp-meridian button {
  height: 35px;
  margin-top: -5px;
  background: rgb(2, 117, 216) !important;
  border: 1px solid rgb(2, 117, 216) !important;
  color: #fff !important;
}
.ngb-tp-input-container {
  width: 6em !important;
}
.custom-day.range[_ngcontent-efx-c0],
.custom-day[_ngcontent-efx-c0]:hover {
  background-color: #3f51b5;
  color: white;
}
footer {
  background: #fff;
  margin-top: 15px;
  padding: 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: none;
  bottom: 0;
  width: 100%;
}
footer p.copyright {
  margin-bottom: 0;
  font-size: 12px;
}
.carousel-doc-dash {
  margin-bottom: 15px;
}
.f-img {
  height: 32px;
  margin-left: 0px;
}
.social-icons {
  margin-bottom: 0;
}
.social-icons li a {
  margin-right: 7px;
  display: inline-flex;
  font-size: 15px;
  color: #777;
  border: 1px solid #ccc;
  height: 35px;
  width: 35px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.social-icons li a i {
  margin-right: 0;
}
.social-icons li a:hover {
  border: 1px solid #3f51b5;
  color: #3f51b5;
  cursor: pointer;
}

/* New slider */
.s-container {
  margin: 15px auto;
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.photo-slider {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
img:nth-child(1) {
  animation-delay: 12s;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0s;
}
.doc-profile .doc-prf-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #eee;
  position: relative;
  top: -50px;
  padding-top: 70px;
}
.doc-profile .hospital-image {
  height: 200px;
  width: 200px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 99;
}
.doc-profile .hospital-image:before {
  display: none;
}
.doc-profile .hospital-image img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 8px solid #fff;
}
.doc-prf-content h1.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.doc-prf-content h5.title-small {
  font-size: 14px;
  color: #888;
  text-align: center;
  font-weight: 600;
}
.doc-prf-content .title-pad {
  font-size: 13px;
  font-weight: 600;
  color: #777;
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
}
.doc-prf-content .title-pad a {
  text-decoration: none !important;
}
.title-pad i {
  margin-right: 12px !important;
}
.doc-prf-content p {
  margin-left: 26px;
}
.btn-schedule {
  background: #03a9f4;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
}
.doc-schedule .less-p {
  padding-right: 7px;
}
.doc-schedule {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.doc-schedule .table.table-striped tbody tr:nth-child(odd) {
  background-color: #fff !important;
}
.dropdown .more-action-btn:after {
  color: #009688 !important;
  font-size: 10px !important;
}
.more-action-btn:hover,
.more-action-btn:focus {
  /* background-color: #009688;
  text-decoration: none;
  color: #fff; */
}
.more-action-btn {
  background-color: transparent;
  width: 100px;
  font-size: 0.85rem;
  border: none;
  padding: 0;
  color: #009688;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
}
.doc-schedule table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border-color: #eee;
  font-size: 13px;
  vertical-align: middle;
  padding-right: 7px;
}
.doc-schedule .card-title {
  display: inline-block;
  margin-bottom: 25px;
  color: #000;
}
.doc-schedule .doc-schedule-list {
  max-height: 500px;
  overflow: auto;
}
.btn-lg {
  font-size: 0.9rem !important;
}
button:hover {
  opacity: 0.8 !important;
}
.mat-card {
  box-shadow: none !important;
  border: 1px solid #ddd !important;
  font-family: Gilroy, "Helvetica Neue", sans-serif !important;
}
.concent-form,
.concent-form ol {
  font-size: 13px;
  font-weight: 600;
}

table tr td a.btn,
table tr td button {
  margin-right: 5px;
  padding: 4px 10px !important;
}
button:focus {
  outline: none !important;
}
.login-flex .card {
  box-shadow: 0px 0px 20px #ddd;
  border-radius: 10px !important;
  overflow: hidden;
}
.select-doc-white .mat-form-field-wrapper {
  padding-bottom: 0;
}
.select-doc-white .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
}
.table-no-padding td {
  padding: 0px !important;
}
.sc-r tr {
  border-bottom: 4px solid #f8f8f8;
  border-top: 4px solid #f8f8f8;
  background-color: #fff !important;
}
.sc-r tr td {
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  padding: 10px 0;
  padding-bottom: 0;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-option.mat-active {
  background-color: #fff !important;
}
.mat-button.mat-primary span.mat-button-wrapper i {
  margin-right: 0;
}
.mat-button.mat-primary {
  background: transparent;
}
.mat-button.mat-primary span.mat-button-wrapper {
  color: red;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mat-button.mat-primary:hover .mat-button-focus-overlay {
  opacity: 1;
}
.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent !important;
  opacity: 1;
}
.example-full-width {
  width: 100% !important;
  font-family: "Gilroy" !important;
  font-weight: 600 !important;
}
.doc-schedule form.ng-untouched {
  width: 100%;
}
.mat-card {
  padding: 6px 10px !important;
}
table tr td input[type="button"],
table tr td button {
  margin-top: 0;
}
.alert-default h5.success {
  display: flex;
  background: #dcf6df;
  padding: 15px;
  border-radius: 5px;
  border: 1.5px solid #a5d6a5;
}
.alert-default h5.success strong i {
  color: green;
  font-size: 30px;
}
.alert-default h5.success strong {
  color: #028400 !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.p-message {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.p-message .card {
  background: #e7e9f8;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
  border-radius: 0 !important;
}
.mat-button-wrapper {
  font-family: Gilroy;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected),
.mat-raised-button.mat-primary {
  border-color: #03a9f4 !important;
  background: #03a9f4 !important;
  color: #fff !important;
  box-shadow: none !important;
}
.example-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mat-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: "Gilroy";
  font-weight: bold;
}
.mat-calendar-table-header th {
  text-align: center;
  padding: 0 0 8px 0;
  font-weight: bold;
  color: #333;
  font-size: 13px;
}
input [type="button"]:hover {
  opacity: 0.8;
}
.title h5 {
  font-size: 16px;
}
.btn-send-message {
  background: #e7e9f8;
  border: 1px solid #fff;
  color: #555;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  float: right;
  width: 100%;
  margin-top: 0;
  border-radius: 0;
  text-align: left;
}
.message-box-holder .message-by-doc {
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  clear: both;
  margin: 5px auto;
}
.message-box-holder .message-by-doc span label {
  display: block;
  font-size: 10px;
}
.message-box-holder .message-by-doc span {
  background: #8862e0;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}
.message-box-holder .message-by-me {
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  clear: both;
  margin: 5px auto;
}
.message-box-holder .message-by-me span {
  background: #e5eded;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
}
.hi-this {
  background: linear-gradient(to right, #06a395, #009688) !important;
  color: #fff;
}
.patient-highlight .chat-messages {
  position: relative;
  overflow-anchor: none;
  overflow: auto;
  height: 250px;
  max-height: 250px;
  padding-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  min-height: 200px;
  padding-bottom: 130px;
}
.message-box {
  position: absolute;
  bottom: 0;
  width: 99%;
  /*position: relative;
    background: #ecedf2;
    border: #ddd;
    border-radius: 39px;
    box-shadow: none;*/
}
.message-box textarea {
  /*background: transparent;
        width: 100%;
        height: 45px;
        margin-bottom: 0;
        padding: 10px 15px;*/
  background-color: #fff;
  margin-bottom: 0;
  border: 1px solid #ddd;
}
.p-message .card-body .chat-messages {
  max-height: 300px;
  overflow: auto;
  padding-right: 25px;
}
.p-message .card-body {
  padding-right: 20px !important;
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-bottom: 20px !important;
  min-height: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
  flex-flow: column-reverse;
}
.message-box .message-send,
.message-box .btn-abs {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.select-select-patient {
  height: 35px;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.telehealth-nav .nav-link {
  font-size: 0.85rem !important;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}
.logged-info {
  background: #009688;
  border-radius: 26px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #fff !important;
}

.telehealth-nav {
  width: 100% !important;
}
.dashboard-slider {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.patient-highlight {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.patient-highlight h1 {
  font-size: 20px;
  font-weight: 600;
  color: #009688;
}
.patient-highlight p {
  font-size: 0.9rem;
  padding-right: 17px;
}
.patient-highlight a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
}
/* #send-message .modal-body {
  height: 400px;
} */
#send-message .modal-dialog {
  position: fixed;
  right: 20px;
  height: auto;
  bottom: 0px;
  margin-bottom: 0;
}
.dashboard-slider .slide img {
  height: 167px;
}
.exa-sign {
  font-size: 30px;
  position: absolute;
  left: 20px;
}
a.btn {
  text-decoration: none;
}
.exa-sign {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.booking-tab {
  border-bottom: none !important;
}
.booking-tab li {
}
.load-all-link {
  font-size: 14px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid;
  font-weight: 600;
}
.booking-tab li a.nav-link {
  background: #fff;
  border-radius: 20px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  width: auto;
  text-align: center;
  margin: auto 2px;
  padding: 0.5rem 1.5rem !important;
}
.booking-tab li a.nav-link.active,
.booking-tab li a.nav-link:hover {
  background-color: #3f51b5 !important;
  border-radius: 20px;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid #3f51b5 !important;
  width: 80px;
  text-align: center;
  padding: 0.5rem 1.5rem !important;
}
.dashboard .card-body {
  padding: 15px !important;
}
.modal-fullscreen .modal-dialog {
  margin: 0;
  max-width: 100%;
}
.modal-fullscreen .modal-dialog .modal-content {
  border-radius: 0;
  height: 100vh;
}
.modal-fullscreen .modal-dialog .modal-body {
  background: transparent;
  padding: 0;
}
.modal-fullscreen .modal-dialog .modal-body .frame-area {
  height: 100%;
}
.modal-send-message .modal-dialog {
  position: fixed;
  right: 30px;
  bottom: 0;
  margin-bottom: 0;
}
strong {
  font-weight: 700 !important;
}
.text-primary-green {
  color: #009688;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .d-table-row-group {
    display: table-row-group !important;
  }
}
