<app></app>

<div class="back-bg">
  <button (click)="Admin()" class="back-btn-doc-room">Back To Admin</button>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title mb-4">
      <span class="select-title"><i class="fa fa-calendar"></i>Doctor Scheduling</span>
    </h1>
    <div class="row searchbar-card text-center" style="margin-top: 0">
      <div class="col-md-6 col-sm-8 m-auto d-flex">
        <div class="searchbar">
          <input class="search_input" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                 placeholder="Search Doctor..">
          <a class="search_icon text-white"><i class="fa fa-search"></i>Search</a>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">HospitalName</th>
          <th scope="col">DoctorName</th>
          <th scope="col">Department</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>


        <tr *ngFor="let data of doctorList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  } ;let i = index  ">
  
          <td>{{i+1}}</td>
          <td *ngIf="data.HospitalName != null" style="vertical-align: middle">
            

            {{ data.HospitalName }}
          </td>
          <td *ngIf="data.HospitalName == null" style="vertical-align: middle">
            N/A
          </td>
          <td style="vertical-align: middle">{{ data.DoctorName }}</td>
          <td *ngIf="data.DepartmentName != null"
              style="vertical-align: middle">
            {{ data.DepartmentName }}
          </td>
          <td *ngIf="data.DepartmentName == null"
              style="vertical-align: middle">
            N/A
          </td>
          <td *ngIf="data.DepartmentName != null && data.HospitalName != null">
            <a (click)="
                View(
                  data.HospitalDoctorMapId,
                  data.HospitalName,
                  data.DepartmentName
                )
              "
               class="btn btn-primary btn-sm text-white">
              <i class="fa fa-eye"></i>View
            </a>
            <a (click)="
                Add(
                  data.HospitalDoctorMapId,
                  data.HospitalName,
                  data.DepartmentName,
                  data.DoctorName
                )
              "
               class="btn btn-info btn-sm text-white">
              <i class="fa fa-plus"></i>Add
            </a>
            <a (click)="
                Edit(
                  data.HospitalDoctorMapId,
                  data.HospitalName,
                  data.DepartmentName
                )
              "
               class="btn btn-success btn-sm text-white">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </td>
          <td *ngIf="data.DepartmentName == null && data.HospitalName == null">
            <a (click)="UpdateProfile(data)"
               class="btn btn-info btn-sm text-white">
              <i class="fa fa-plus"></i>Add Doctor Profile
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls style="font-size: 20px"
                         (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12 input-text text-center">
    <mat-form-field class="mat-form-field-fluid select-input" style="width:600px" appearance="outline">
      <mat-select placeholder="-- select Doctor --" >
        <mat-option *ngFor="let doc of doctorList"
                    [value]="doc.HospitalDoctorMapId">Dr. {{doc.DoctorName}} -- {{doc.HospitalName}} -- {{doc.DepartmentName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div> -->

<div
  class="modal"
  id="myModal"
  tabindex="-1"
  role="dialog"
  [style.display]="editModal ? 'block' : 'none'"
  aria-labelledby="myModalLabel"
  aria-hidden="false"
  style="display: block"
>
  <div class="modal-dialog modal-lg">
    <div
      class="modal-content"
      style="background-color: transparent; border: none"
    >
      <!-- Modal body -->
      <div class="doc-schedule">
        <h1 class="card-title" style="width: 100%">
          Edit Doctor Scheduling Time
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hide()"
          >
            &times;
          </button>
        </h1>
        <div class="doc-schedule-list">
          <!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 table-responsive"> -->
          <table
            class="table sc-table"
            width="100%"
            cellspacing="0"
            cellpadding="3"
            style="margin-bottom: 10px !important"
          >
            <thead>
              <tr>
                <th width="30%" align="center" valign="top">SN</th>
                <th width="30%" align="center" valign="top">Date</th>
                <th width="30%" align="center" valign="top">
                  Doctor Available
                </th>
                <th width="30%" align="center" valign="top">Action</th>
                <!-- <th width="40%" align="center" valign="top">End Time </th> -->
                <th style="display: none"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of schedulingTime; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ list.Date }}</td>
                <td>
                  {{ list.StartTime }} &nbsp; {{ list.StartMeridian }} -
                  {{ list.EndTime }} &nbsp; {{ list.EndMeridian }}
                </td>
                <td>
                  <i
                    class="fa fa-trash-o text-danger"
                    style="font-size: 16px"
                    (click)="deleteScheduling(list.SchedulingId)"
                  ></i>
                  &nbsp;&nbsp;
                  <i
                    class="fa fa-pencil text-primary"
                    style="font-size: 16px"
                    (click)="editScheduling(list.SchedulingId)"
                  ></i>
                </td>
                <!-- <td> {{list.EndTime}}  </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="myModal"
  tabindex="-1"
  role="dialog"
  [style.display]="showView ? 'block' : 'none'"
  aria-labelledby="myModalLabel"
  aria-hidden="false"
  style="display: block"
>
  <div class="modal-dialog" style="max-width: 600px">
    <div
      class="modal-content"
      style="background-color: transparent; border: none"
    >
      <!-- Modal body -->
      <div class="doc-schedule">
        <div class="">
          <h1 class="card-title mb-4" style="width: 100%">
            View Doctor Scheduling Time
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              (click)="hide()"
            >
              &times;
            </button>
          </h1>
        </div>
        <!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 table-responsive"> -->
        <div class="doc-schedule-list">
          <table
            class="table sc-table"
            width="100%"
            cellspacing="0"
            cellpadding="3"
            style="margin-bottom: 10px !important"
          >
            <thead>
              <tr>
                <th width="30%" align="center" valign="top">SN</th>
                <th width="30%" align="center" valign="top">Date</th>
                <th width="30%" align="center" valign="top">
                  Doctor Available
                </th>
                <!-- <th width="40%" align="center" valign="top">End Time </th> -->
                <th style="display: none"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of schedulingTime; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ list.Date }}</td>
                <td>
                  <span class="btn-schedule"
                    >{{ list.StartTime }} &nbsp; {{ list.StartMeridian }} -
                    {{ list.EndTime }} &nbsp; {{ list.EndMeridian }}</span
                  >
                </td>
                <!-- <td> {{list.EndTime}}  </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<div class="modal-body" *ngIf="editSchdule">
  <!-- <div class="row"> -->
  <div class="col-md-12 text-center m-auto">
    <!-- <p class="text-center alert alert-default">Please select Start date and End date</p>
    <ngb-datepicker #dp  [(ngModel)]="schedule" (navigate)="date = $event.next">
    </ngb-datepicker> -->
    <input
      class="form-control"
      placeholder="Datepicker"
      name="DOB"
      [(ngModel)]="schedule.StartDate"
      bsDatepicker
      #d="bsDatepicker"
    />
    <div class="input-group-append">
      <button
        class="fa fa-calendar"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
    <!-- <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template> -->
    <div class="row" style="margin-top: 10px">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-tr-style">
            <th>
              <b><label>Start Time</label></b>
            </th>
            <th></th>
            <th><label>End Time</label></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="height: 80px">
              <ngb-timepicker
                [(ngModel)]="startTime"
                [meridian]="meridian"
              ></ngb-timepicker>
            </td>
            <td></td>
            <td style="height: 80px">
              <ngb-timepicker
                [(ngModel)]="endTime"
                [meridian]="meridian"
              ></ngb-timepicker>
            </td>
            <br />
            <!-- <td let i = index;>
              <a (click)="addRow(i)" class="round-btn btn-primary">+</a>
              <a style="margin-left:10px" (click)="deleteRow(i)" class="round-btn btn-danger">x</a>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <!-- </div> -->
    <div
      class="print-action mt-5 text-center m-auto d-block mb-5"
      style="margin: 15px auto !important"
    >
      <input type="button" value="Update" (click)="Update()" />
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  tabindex="-1"
  role="dialog"
  [style.display]="editProfileModal ? 'block' : 'none'"
  aria-labelledby="myModalLabel"
  aria-hidden="false"
  style="display: block"
>
  <div class="modal-dialog modal-lg">
    <div
      class="modal-content"
      style="background-color: transparent; border: none"
    >
      <doctor-update-profile #doctorModalEditor></doctor-update-profile>
    </div>
  </div>
</div>

<!--<div class="row">

  <button class="ml-2" mat-raised-button matTooltip="Create new Appointment"
          (click)="goToCalendar()">
    Calendar View
  </button>
  <button class="ml-2" mat-raised-button color="primary" matTooltip="Create new Appointment"
          (click)="goToTimeline()">
    Timeline View
  </button>
  <button class="ml-2" mat-raised-button matTooltip="Create new Appointment" color="primary"
          (click)="goToTimeGrid()">
    Grid View
  </button>
  <button class="new-appointment ml-2" mat-raised-button matTooltip="Create new Appointment"
          (click)="createAppointment('','')">
    <i class="la la-plus"></i> Add Appointment
  </button>
</div>

<full-calendar #calendar
               defaultView="dayGridMonth"
               [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
               [eventTimeFormat]="{
          hour: 'numeric',
          minute: '2-digit',
          meridiem: true
         }"
               eventLimit=true,
               views=" {
           timeGrid: {
             eventLimit: 6
           }
         }"
               [plugins]="calendarPlugins"
               [weekends]="calendarWeekends"
               [events]="calendarEvents"
               (dateClick)="handleDateClick($event)"
               (eventClick)="eventClick($event)"
               (datesRender)="handleDatesRender($event)"
               (eventRender)="calendarEventRender($event)"></full-calendar>-->
