﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Telemedicine</title>
    <base href="@ViewData["HospitalName"]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/shared-style.css">
    <link rel="stylesheet" href="~/css/font/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    @*<link rel="stylesheet" href="/dist/TeleMedicine/styles.css">*@
</head>
<body>
    @{
        string paymentstatus = (string)ViewData["PaymentStatus"];
        string paymentMethod = (string)ViewData["PaymentMethod"];
    }
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-11 col-md-12 col-sm-12">
                <app-root paymentMethod="@paymentMethod" paymentStatus="@paymentstatus"></app-root>
                @*<footer>
                        <div class="row">
                            <div class="col-lg-5 col-md-12 col-sm-12">
                            <p class="copyright">
                                Copyright &copy; 2020 <a href="" target="_blank">Danphe Telehealth<img src="~/assets/img/logo-cap.png" class="f-img"/></a>
                            </p>
                            </div>
                             <div class="col-lg-3 col-md-12 col-sm-12 text-center">
                                <ul class="social-icons">
                                    <li class="d-inline"><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="d-inline"><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="d-inline"><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 text-right text-sm-center">
                            <p class="copyright">
                                Powered by <a href="https://imarkdigital.com/" target="_blank">Imark<img src="~/assets/img/imark-powered.png" class="f-img"/></a>
                            </p>
                            </div>
                        </div>
                    </footer>*@
            </div>
        </div>
    </div>

    @*We need to add like this in case of production*@
    @*<script src="dist/telemedicine/runtime-es2015.js" type="module"></script>
        <script src="dist/telemedicine/runtime-es5.js" nomodule defer></script>
        <script src="dist/telemedicine/polyfills-es5.js" nomodule defer></script>
        <script src="dist/telemedicine/polyfills-es2015.js" type="module"></script>
        <script src="dist/telemedicine/styles-es2015.js" type="module"></script>
        <script src="dist/telemedicine/styles-es5.js" nomodule defer></script>
        <script src="dist/telemedicine/vendor-es2015.js" type="module"></script>
        <script src="dist/telemedicine/vendor-es5.js" nomodule defer></script>
        <script src="dist/telemedicine/main-es2015.js" type="module"></script>
        <script src="dist/telemedicine/main-es5.js" nomodule defer></script>*@
    @*<script src='https://meet.jit.si/external_api.js'></script>*@
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="dist/telemedicine/runtime.js" type="module"></script>
    <script src="dist/telemedicine/polyfills.js" type="module"></script>
    <script src="dist/telemedicine/styles.js" type="module"></script>
    <script src="dist/telemedicine/vendor.js" type="module"></script>
    <script src="/dist/TeleMedicine/scripts.js" defer></script>
    <script src="/dist/telemedicine/main.js" type="module"></script>


</body>

</html>


