
.time-error {
  color: #e44868;
}

.input-text {
  padding-left: 0px;
}

.time-picker-input {
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 200px;
}

.label-to {
  text-align: center;
  padding-top: 10px;
  width: 50px;
}

.select-input {
  width: 450px !important;
}

.close-icon {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 14px;
  cursor: pointer !important;
}
